.amc--element--content-block {
  @include fontVariantInclude($global-font-base-body);
  font-size: $font-size-base-body;
  line-height: $line-height-base-body;

  p {

  }

  strong {
    @include primary-font-bold;
  }

  ins {

  }

  em {

  }

  a {
    @include primary-font-bold;
    color: $brand-primary-color;
  }

  h1 {
    @include fontVariantInclude($global-font-h1);
    font-size: $font-size-h1;
    line-height: $line-height-h1;
    color: $brand-primary-color;
  }

  h2 {
    @include fontVariantInclude($global-font-h2);
    font-size: $font-size-h2;
    line-height: $line-height-h2;
    color: $brand-primary-color;
  }

  h3 {
    @include fontVariantInclude($global-font-h3);
    font-size: $font-size-h3;
    line-height: $line-height-h3;
    color: $base-text-color
  }

  h4 {
    @include fontVariantInclude($global-font-h4);
    font-size: $font-size-h4;
    line-height: $line-height-h4;
    color: $base-text-color;
  }
}
