.discussion-body {

  &.layout {

    &.layout-1t2t {
      max-width: 100%;
    }
  }

  .forum-nav-refine-bar {
    @include display(flex);

    .forum-nav-filter-main, .forum-nav-sort {
      flex: 1 1 100%;
    }
  }
}

.discussion.container {

  .btn {
    font-size: $font-size-base-body;
    padding: 1rem;
    @include fontVariantInclude($global-font-base-body);
    letter-spacing: 0;
  }

  .page-header {
    @include display(flex);
    @include align-items(center);
    width: 100%;
    padding: 2rem;
    border-bottom: 0.1rem solid #d9d9d9;

    .page-header-main {

      .has-breadcrumbs .breadcrumbs {
        font-size: $font-size-base-body*0.85;
        @include fontVariantInclude($global-font-base-body);
        letter-spacing: 0;
      }

      .breadcrumbs {
        font-size: $font-size-base-body*0.85;
        @include fontVariantInclude($global-font-base-body);
        letter-spacing: 0;

        .nav-item {

          .btn-link, .all-topics {
            font-size: $font-size-base-body;
            @include fontVariantInclude($global-font-base-body);
            letter-spacing: 0;
          }
        }
      }
    }

    .page-header-secondary {
      margin-left: auto;

      .forum-actions {
        @include display(flex);
      }

      .new-post-btn {
        font-size: $font-size-base-body;
        padding: 1rem;
        @include fontVariantInclude($global-font-base-body);
        letter-spacing: 0;
      }

      .forum-search {

        .search-input {
          font-size: $font-size-base-body;
          padding: 1rem;
          @include fontVariantInclude($global-font-base-body);
          letter-spacing: 0;
        }

        .search-btn {
          font-size: $font-size-base-body;
          padding: 1rem;
          @include fontVariantInclude($global-font-base-body);
          letter-spacing: 0;
        }
      }
    }
  }

  .page-content {
    @include display(flex);
    width: 100%;
    padding: 2rem;

    .discussion-body.layout.layout-1t2t {
      @include display(flex);
      @include flex-wrap(nowrap);
      width: 100%;

      @media(max-width: $screen-xs-max) {
        display: block;
      }

      .layout-col-a {
        width: 33%;
        height: auto !important;
        margin: 0 3rem 0 0;

        @media(max-width: $screen-xs-max) {
          margin: 0 0 3rem 0;
          width: 100%;
        }
      }

      .layout-col-b {
        width: 67%;
        margin: 0;

        @media(max-width: $screen-xs-max) {
          width: 100%;
        }
      }
    }
  }

  .forum-nav-browse-menu-wrapper {

    .forum-nav-browse-filter {

      .forum-nav-browse-filter-input {
        font-size: $font-size-base-body*0.85;
        padding: 0.75rem;
      }
    }
  }

  .discussion-column {

    .discussion-article {

      .discussion-post {

        .post-header {

          .post-header-content {

            .post-title {
              font-size: $font-size-h2;
              line-height: $line-height-h2;
              @include fontVariantInclude($global-font-base-body);
              letter-spacing: 0;
            }

            .posted-details {
              font-size: 1.2rem;
              @include fontVariantInclude($global-font-base-body);
              letter-spacing: 0;
            }
          }
        }

        .post-body {

          h1, h2, h3, h4, h5, h6 {
            color: $brand-primary-color;

            &:first-of-type {
              margin-top: 0;
            }
          }

          p, ul li, ol li {
            font-size: $font-size-base-body;
            line-height: $line-height-base-body;
            margin: 1rem;
          }
        }

        .post-context {
          font-size: 1.2rem;
          @include fontVariantInclude($global-font-base-body);
          letter-spacing: 0;
        }
      }

      .discussion-response {
        padding: 3rem 2rem;

        .response-header {
          @include fontVariantInclude($global-font-base-body);
          letter-spacing: 0;

          .posted-details {
            font-size: 1.2rem;
            @include fontVariantInclude($global-font-base-body);
            letter-spacing: 0;
          }
        }

        .response-body {

          h1, h2, h3, h4, h5, h6 {
            color: $brand-primary-color;

            &:first-of-type {
              margin-top: 0;
            }
          }

          p, ul li, ol li {
            font-size: $font-size-base-body;
            line-height: $line-height-base-body;
            margin: 1rem;
          }
        }
      }
    }

    .thread-wrapper {

      .response-btn-count-wrapper {
        @include display(flex);
        @include align-items(center);
        margin: 3rem 0 2rem;

        .add-response {
          padding: 0;
          margin-right: 3rem;

          .add-response-btn {
            font-size: $font-size-base-body;
            padding: 1rem;
            @include fontVariantInclude($global-font-base-body);
            letter-spacing: 0;
          }
        }

        .response-count {
          margin-left: auto;
          font-size: $font-size-base-body;
          @include fontVariantInclude($global-font-base-body);
          letter-spacing: 0;
        }
      }

      .comments>li {
        padding: 2rem;

        .discussion-comment {

          .posted-details {
            font-size: 1.2rem;
            @include fontVariantInclude($global-font-base-body);
            letter-spacing: 0;
          }
        }
      }
    }
  }

  .forum-new-post-form {

    .post-field {

      .field-label-text {
        font-size: $font-size-base-body;
        margin: 0 0 0.5rem;
      }

      .field-input {
        font-size: $font-size-base-body;
      }
    }

    .btn-brand.submit {
      font-size: $font-size-base-body;
      padding: 1rem;
      @include fontVariantInclude($global-font-base-body);
      letter-spacing: 0;
    }

    .btn.cancel {
      font-size: $font-size-base-body;
      padding: 1rem;
      @include fontVariantInclude($global-font-base-body);
      letter-spacing: 0;
    }
  }
}

.discussion .page-header {

  .page-header-main {
    display: flex;

    .breadcrumbs {
      margin-top: 0;
      margin-bottom: 0 !important;

      .nav-item {

        .btn-link.all-topics {
          height: 41px;
          outline: none;
          border: none;
        }
      }
    }
  }

  .page-header-secondary {

    .forum-actions {

      .btn {
        height: 100%;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }
    }
  }
}

.discussion {

  .page-content {

    .discussion-body {

      .forum-nav-browse-filter-input {
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
  }
}
