.a--courseware--updates-article {
  margin: calcRem(25) 0;
  border-bottom: 1px solid rgba($base-text-color, 0.2);
  padding: calcRem(25) 0;
  @include display(flex);
  @include align-items(center);
  @include flex-wrap(wrap);

  &:last-of-type {
    border-bottom: none;
  }

  &__header {

  }

  &__date {
    @include primary-font-bold;
    font-size: $font-size-base-body;
    color: $brand-primary-color;
    margin: 0 calcRem(30) 0 0;
    width: 50%;
  }

  &__toggle-visibility-button {
    background: none;
    border: none;
    border-bottom: 1px dotted #ccc;
    border-radius: 0;
    padding: calcRem(5) 0;
    text-shadow: none;
    box-shadow: none;
    margin-left: auto;
    color: $base-text-color;
    @include primary-font-bold;

    &:hover, &:focus, &:focus:not(:disabled) {
      border: none;
      outline: none;
      box-shadow: none;
      @include transition(all 0.3s ease-in-out);
      color: $brand-primary-color;
    }
  }

  &__content {
    width: 100%;
    margin: calcRem(20) 0 calcRem(25);
    text-align: justify;
  }
}
