.a--courseware-wrapper__content__sidebar {

  .course-dates-container {
    margin-bottom: calcRem(35);
  }

  .date-summary-container {
    margin: 1px 0;

    .date-summary {

      h3.heading {
        margin: 0;
        font-size: calcRem(14);
      }

      h4.date {
        margin: calcRem(5) 0 0;
        font-size: calcRem(12);
      }

      p.description {
        font-style: italic;
        margin-top: calcRem(15);
      }
    }

    .date-summary-todays-date {

      h3.heading {
        @include primary-font-bold;
        font-size: calcRem(12);
      }
    }
  }
}
