.a--courseware-wrapper {
  padding-bottom: 6rem;

  &__content {
    @include display(flex);
    border: 0.1rem solid #ddd;
    background-color: #fff;
    padding: 4rem 3rem;

    @media(max-width: $screen-sm-max) {
      @include flex-wrap(wrap);
    }

    &__main-content {
      width: 100%;
    }

    &__sidebar {
      min-width: 28rem;
      @include flex-shrink(0);
      border-left: 0.1rem solid #ddd;
      padding-left: 3rem;
      margin-left: 3rem;

      &>ol {
        padding: 0 0 0 1.5rem;
      }

      .treeview-handoutsnav a {
        @include primary-font-bold;
        color: $brand-primary-color;
      }

      @media(max-width: $screen-sm-max) {
        width: 100%;
        margin-left: 0;
        padding-left: 0;
        border-left: none;
        border-top: 0.1rem solid #ddd;
        margin-top: 3rem;
        padding-top: 3rem;
      }

      &__main-title {
        @include primary-font;
        font-size: 2.4rem;
        color: rgba($base-text-color, 0.75);
        margin: 0 0 2.5rem;
      }
    }

    .wrap-instructor-info, .wrap-instructor-info.studio-view {
      margin: 3rem 0 2rem;
      display: block;
      top: 0;
      @include primary-font;
    }
  }

  &__admin-notifications {
    padding-bottom: 2rem;

    &__cta {
      display: inline-block;
      padding: 1rem 1.5rem;
      font-size: 1.6rem;
      @include primary-font;
      background-color: $brand-primary-color;
      border-radius: 1rem;
      color: #fff;

      &:hover, &:focus {
        color: #fff;
        background-color: darken($brand-primary-color, 10%);
      }
    }
  }

  &__footer {
    margin-top: 3rem;

    .courseware-license {
      text-align: right;
      @include primary-font-italic;
      color: rgba($base-text-color, 0.7);
      font-size: 1.2rem;
    }
  }
}
