.content-wrapper {
  width: 100%;
  max-width: 100%;
  padding-left: calcRem(30);
  padding-right: calcRem(30);

  .page-content-container {
    @include container-fixed();

    @media (min-width: $screen-sm-min) {
      width: $container-sm;
    }
    @media (min-width: $screen-md-min) {
      width: $container-md;
    }
    @media (min-width: $screen-lg-min) {
      width: $container-lg;
    }
    @media(min-width: 1680px) {
  		width: 1600px;
  	}
  }

  .course-view.page-content-container {

    header.page-header {

      .page-header-main {

      }

      .page-header-secondary {
        @include display(flex);
        @include align-items(center);

        .btn.btn-primary {
          @include edx_style_killer;
          @include no_damn_focus_glow;
          background-color: $cta-button-bg;
          border: 2px solid $cta-button-bg;
          display: inline-block;
          padding: calcRem(12) calcRem(20);
          line-height: 100%;
          font-size: $font-size-base-body;
          @include fontVariantInclude($global-font-cta-buttons);
          color: pick-visible-color($cta-button-bg, $base-text-color, #fff);
          @include button_radius;
          @include button_splash($buttons-border-radius);

          &:hover, &:focus, &:hover:not(:disabled), &:focus:not(:disabled) {
            background-color: pick-visible-color($cta-button-bg, $base-text-color, #fff);
            color: $cta-button-bg;
            border: 2px solid $cta-button-bg;
          }
        }
      }

      .page-title {
        font-size: calcRem(24);
        margin: calcRem(10) 0;
      }

      .field-input.input-text.search-input {
        width: calcRem(180);
        font-size: calcRem(16);
      }

      .btn.btn-small.search-button {
        font-size: calcRem(16);
        border-color: $brand-primary-color;
        color: $brand-primary-color;
        border-top-right-radius: $buttons-border-radius;
        border-bottom-right-radius: $buttons-border-radius;

        &:hover, &:focus {
          color: #fff;
          background-color: $brand-primary-color;
        }
      }

      .btn.btn-brand.action-resume-course {
        font-size: calcRem(16);
        background-color: $cta-button-bg;
        color: $cta-button-text-color;
        border: $cta-button-border;
        border-radius: $buttons-border-radius;
        opacity: 1;

        &:hover, &:focus {
          opacity: 0.6;
        }
      }
    }

    .page-content .page-content-main {

      .layout-1t2t.layout {
        width: 100%;
        max-width: 100%;
      }

      .layout-col-b {
        margin-left: 0;
        margin-right: 0;
      }

      .course-outline {
        padding: calcRem(20) 0;

        #expand-collapse-outline-all-button {
          @include edx_style_killer;
          @include no_damn_focus_glow;
          background: none;
          border: 1px solid $base-text-color;
          display: inline-block;
          padding: calcRem(12) calcRem(20);
          line-height: 100%;
          font-size: $font-size-base-body;
          @include fontVariantInclude($global-font-cta-buttons);
          color: $base-text-color;
          @include button_radius;
          opacity: 1;

          &:hover, &:focus, &:hover:not(:disabled), &:focus:not(:disabled) {
            border: 1px solid $base-text-color;
            opacity: 0.6;
            color: #fff;
            background-color: $base-text-color;
          }
        }

        .block-tree {

          .section {

            .section-name {
              @include transition(all 0.3s ease-in-out);
              padding: calcRem(10);

              .section-title {
                font-size: calcRem(18);
                color: lighten($base-text-color, 15%);
              }

              &:hover, &:focus {
                background-color: lighten($brand-primary-color, 60%);
              }
            }

            .outline-item {

              .subsection {

                &.current {
                  border-color: $brand-accent-color;
                }

                span.details {
                  display: block;
                }

                .subsection-text {
                  @include transition(all 0.3s ease-in-out);
                  padding: calcRem(10);

                  .subsection-title {
                    font-size: calcRem(16);
                    color: $base-text-color;
                  }

                  &:hover, &:focus {
                    background-color: lighten($brand-primary-color, 60%);
                  }
                }

                a.outline-item {
                  @include transition(all 0.3s ease-in-out);
                  padding: calcRem(10);

                  &:hover, &:focus {
                    background-color: lighten($brand-primary-color, 60%);
                  }
                }
              }
            }
          }
        }
      }
    }

    .course-sidebar {

      .section {

        h3 {
          font-size: calcRem(16);
        }
      }

      .date-summary-container .date-summary .heading {
        font-size: calcRem(14);
      }

      .hd-6 {
        font-size: $font-size-base-body;
      }

      ul li a {
        font-size: $font-size-base-body;

        &:hover, &:focus {
          opacity: 0.7;
          text-decoration: underline;
          text-decoration-style: dotted;
        }
      }
    }
  }
}
