.a--course-info {

  &__main-title {
    @include fontVariantInclude($global-font-h1);
    font-size: 3.2rem;
    color: $brand-primary-color;
    margin: 0 0 2.5rem;
  }

  &>ol {
    padding: 0;

    li {
      list-style-type: none;
    }
  }
}

.a--page-header-main {
  padding: 0;

  .page-title {
    font-size: $font-size-base-body*1.6;
    @include primary-font;
    margin: 0 0 1rem;
  }

  .page-subtitle {
    font-size: $font-size-base-body;
    @include primary-font-bold;
    margin: 0;
    color: darken($brand-primary-color, 20%);
  }
}
