body.view-in-course {

  .wrapper-preview-menu {
    width: 100%;
    padding: calcRem(15) 0;
    
    .preview-menu {
      width: $site-nav-width;
      max-width: 100%;
      margin: 0 auto;
      padding: 0 calcRem(20);
    }
  }

  .content-wrapper {

    .container {

      .course-wrapper {
        // width: $courseware-content-container-width + $courseware-content-container-sidebar-width + calcRem(80);
          // line above is to be used if we decide to expose the variables in AMC Dashboard
        width: calcRem(1180) + $courseware-content-container-sidebar-width + calcRem(80);
        max-width: 100%;
        margin: 0 auto;
        padding: calcRem(40);
        background: none;
        border: none;
        box-shadow: none;

        &.legacy-nav-enabled {
          // width: $courseware-content-container-width + $courseware-content-container-sidebar-width + calcRem(80);
          // line above is to be used if we decide to expose the variables in AMC Dashboard
          width: calcRem(1180) + $courseware-content-container-sidebar-width + calcRem(80);
          padding: 0;
          display: grid;
          // grid-template-columns: $courseware-content-container-sidebar-width 1fr $courseware-content-container-sidebar-width;
          grid-template-columns: $courseware-content-container-sidebar-width 1fr;
          grid-column-gap: calcRem(40);

          @media (max-width: 1700px) {
            grid-template-columns: $courseware-content-container-sidebar-width 1fr;
            padding-left: calcRem(40);
            padding-right: calcRem(40);
          }

          @media (max-width: $screen-sm-max) {
            grid-template-columns: 1fr;
            grid-gap: calcRem(20);
            padding-left: calcRem(20);
            padding-right: calcRem(20);
          }
        }

        .course-content {
          width: 100%;
          margin: 0;
          padding: calcRem(30) $courseware-content-container-side-padding;
          border-radius: $in-app-container-border-radius;
          background-color: #fff;

          @media (max-width: $screen-sm-max) {
            padding: calcRem(20);
          }

          main {
            padding: 0;
          }

          .breadcrumbs {
            padding: calcRem(10) 0;
          }
        }

        .a--course-content__nav__mobile-toggle {
          display: block;
          padding: calcRem(10) calcRem(20);
          border: 2px solid $cta-button-text-color;
          color: $cta-button-text-color;
          background-color: $cta-button-bg;
          margin: calcRem(20);
          border-radius: calcRem(40);
          text-align: center;

          .bookmark-text, &:before {
            color: $cta-button-bg;
            background-color: $cta-button-text-color;
          }

          @media (min-width: $screen-sm-max) {
            display: none;
          }
        }

        .course-index {
          transition: all 0.3s ease-in-out;
          opacity: 0.6;
          padding: calcRem(50) 0 calcRem(30);
          border: none;

          &:hover, &:focus {
            opacity: 1;
          }

          @media (max-width: $screen-sm-max) {
            padding: calcRem(20);
            filter: grayscale(0);
            opacity: 1;
            display: none;
          }

          .wrapper-course-modes {
            margin-bottom: calcRem(30);
          }

          .courseware-bookmarks-button {
            width: 100%;
            margin-bottom: calcRem(15);

            .bookmarks-list-button {
              border-radius: $buttons-border-radius;
              background-color: $cta-button-text-color;
              color: $cta-button-bg;
              border: $cta-button-border;
              font-size: calcRem(14);
              font-weight: normal;
              padding: calcRem(8) calcRem(15);

              &:hover, &:focus {
                background-color: $cta-button-bg;
                color: $cta-button-text-color;
                border: $cta-button-border;
              }
            }
          }

          .courseware-search-bar {
            width: 100%;
            margin-bottom: calcRem(15);

            .search-form {
              width: 100%;

              .search-field-wrapper {
                display: grid;
                grid-template-columns: 1fr calcRem(70);
                width: 100%;
              }

              .search-field {
                border-top-left-radius: $buttons-border-radius;
                border-bottom-left-radius: $buttons-border-radius;
                padding-left: calcRem(20);
                height: calcRem(42);
              }

              button {
                background-color: $cta-button-bg;
                color: $cta-button-text-color;
                border-top-right-radius: $buttons-border-radius;
                border-bottom-right-radius: $buttons-border-radius;
                height: calcRem(42);
                position: relative;
                font-size: calcRem(14);
                text-align: center;
                padding-right: calcRem(10);
                line-height: 0;
              }
            }
          }

          .accordion {
            margin-top: calcRem(15);

            .course-navigation {

              .button-chapter, .accordion-nav {
                box-shadow: none;

                &:hover, &:focus {
                  
                  span, p {
                    text-decoration: underline;
                    text-decoration-style: dotted;
                  }
                }
              }

              .chapter-content-container {
                background: none;
                border: none;

                .chapter-menu {
                  padding: 0 0 0 calcRem(15);
                  margin-left: calcRem(10);
                  border-left: 1px solid $light-border-color;

                  .menu-item {
                    margin: calcRem(10) 0;
                  }
                }

                .menu-item.graded {

                  .subtitle {
                    display: grid;
                    align-items: center;
                    grid-template-columns: 1fr auto;
                    grid-gap: calcRem(8);

                    .subtitle-name {
                      display: block;
                    }

                    .menu-icon {
                      position: relative;
                      top: 0;
                      left: 0;
                      right: 0;
                      color: $brand-primary-color;  
                    }
                  }
                }
              }

              .menu-item {

                a {
                  font-size: calcRem(14);
                  padding: 0 0 0 calcRem(10);

                  p {
                    margin: 0;
                  }
                }

                &.active {
                  
                  a {
                    color: $brand-primary-color;
                    background: none;
                    text-decoration: underline;
                  }
                }
              }

              .button-chapter {
                background: none;
                color: $base-text-color;

                .group-heading {
                  display: flex;
                  align-items: center;
                  padding: calcRem(15) 0;
                  font-size: calcRem(18);

                  .icon {
                    position: relative;
                    left: 0;
                    top: 0;
                    margin-right: calcRem(10);
                    width: calcRem(15);
                    flex-grow: 0;
                    flex-shrink: 0;
                  }
                }
              }
            }
          }
        }

        .page-header {
          padding: calcRem(15) 0;
          opacity: 0.7;
          transition: all 0.3s ease-in-out;

          &:hover, &:focus {
            opacity: 1;
          }
        }
      }
    }

    .container-footer {
      padding: calcRem(50) 0;
      text-align: center;
      font-style: italic;
      color: lighten($base-text-color, 40%);
      width: 100%;
      max-width: $base-learning-container-width;
      margin: 0 auto;

      .course-license {
        text-align: center;
      }
    }
  }

  .wrap-instructor-info {

    &.studio-view {
      @include display(flex);
      @include flex-wrap(wrap);
      @include align-items(center);
      @include justify-content(flex-end);
      padding: calcRem(15) 0;
    }

    .instructor-info-action {
      display: inline-block;
      margin-left: calcRem(20);
      float: none;
    }
  }

  .xmodule_display.xmodule_HtmlBlock img {
    height: auto;
  }
}

.breadcrumbs .nav-item a, .breadcrumbs .nav-item a:visited {
  color: $brand-primary-color;
}

.xmodule_display.xmodule_SequenceModule {

  .sequence-nav {
    margin: 0 0 calcRem(40);
    border-bottom: 2px solid $light-border-color;
  }

  .sequence-nav-button {
    border-bottom: none;
    border-top: none;
    position: relative;

    &:hover, &:active, &.active, &.focused {
      border-color: $brand-primary-color !important;
    }
  
    &.button-previous {
      border-left: none;
    }
  
    &.button-next {
      border-right: none;
    }
  }

  .sequence-nav ol li {
    border-top: none;
  
    button {
      border-bottom: none;

      &.nav-item {
        position: relative;

        .fa-bookmark {
          color: $brand-primary-color;
        }
        
        &:after {
          display: block;
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          top: 100%;
          height: 0;
          background-color: $brand-primary-color;
          transition: all 0.3s ease-in-out;
        }

        &:hover, &:active, &.active, &.focused {
          border-color: $brand-primary-color;

          &:after {
            height: 6px;
          }
        }
      }

      .is-hidden {
        display: none !important;
      }
    }
  }

  .xblock-student_view {
    // overall course content default stylings

    h1, h2, h3, h4 {
      text-transform: none;
      letter-spacing: 0;
    }

    h1 {
      @include fontVariantInclude($global-font-h1);
      font-size: $font-size-h1;
      line-height: $line-height-h1;
      margin: $font-size-h1 0;
    }

    h2 {
      @include fontVariantInclude($global-font-h2);
      font-size: $font-size-h2;
      line-height: $line-height-h2;
      color: $brand-primary-color;
      margin: $font-size-h2 0;
    }

    h3 {
      @include fontVariantInclude($global-font-h3);
      font-size: $font-size-h3;
      line-height: $line-height-h3;
      color: $brand-primary-color;
      margin: $font-size-h3 0;
    }

    h4 {
      @include fontVariantInclude($global-font-h4);
      font-size: $font-size-h4;
      line-height: $line-height-h4;
      color: $brand-primary-color;
      margin: $font-size-h4 0;
    }

    h5 {
      @include fontVariantInclude($global-font-h4);
      font-size: $font-size-h4;
      line-height: $line-height-h4;
      color: $base-text-color;
      margin: $font-size-h4 0;
    }

    h6 {
      @include fontVariantInclude($global-font-h4);
      font-size: $font-size-base-body*1.2;
      line-height: $line-height-base-body*1.2;
      color: rgba($base-text-color, 0.75);
      margin: $font-size-h4 0;
    }

    h3.problem-header, h3.scorm_name, h3.hd.hd-2, h3.openassessment__title, h3.discussion-module-title {
      @include fontVariantInclude($global-font-h4);
      font-size: $font-size-h4;
      line-height: $line-height-h4;
      color: $base-text-color;
      margin: $font-size-h4 0;
      display: inline-block;
    }

    h3.problem-title {
      @include fontVariantInclude($global-font-h4);
      font-size: $font-size-h4;
      line-height: $line-height-h4;
      color: $base-text-color;
      margin: $font-size-h4 0;
      display: block;
    }

    .problem h4, .feedback h3 {
      @include fontVariantInclude($global-font-base-body);
      font-size: $font-size-h4;
      line-height: $line-height-h4;
      color: $base-text-color;
      margin: $font-size-h4 0;
      display: block;
    }

    p {
      @include fontVariantInclude($global-font-base-body);
      font-size: $font-size-base-courseware;
      line-height: $line-height-base-courseware !important;

      @media (max-width: $screen-sm-max) {
        font-size: calcRem(16);
      }
    }

    ul, ol {
      padding: 0 0 0 calcRem(30);
    }

    ul li, ol li, .xmodule_display.xmodule_CapaModule div.problem p {
      @include fontVariantInclude($global-font-base-body);
      font-size: $font-size-base-courseware;
      line-height: $line-height-base-body;
    }

    a {
      position: relative;
      display: inline;
      @include transition(all 0.2s ease-in-out);

      &:hover, &:focus {
        text-decoration: underline;
      }

      &.loupe {
        border-bottom: none;

        &:hover, &:focus {
          border-bottom: none;
        }
      }
    }

    .discussion-module {

      .btn {
        background-color: $cta-button-bg;
        color: $cta-button-text-color;
        border: none;
        @include transition(all 0.3s ease-in-out);

        &:hover, &:focus {
          background-color: darken($cta-button-bg, 15%) !important;
          color: $cta-button-text-color !important;
          border: none !important;
        }
      }

      a.forum-nav-thread-link {
        display: flex;
        align-items: center;
        padding: calcRem(10);
      }
    }
  }
}

.course-wrapper .course-content .xblock.xblock-student_view-vertical, .course-wrapper .course-content .xblock.xblock-public_view-vertical, .course-wrapper .courseware-results-wrapper .xblock.xblock-student_view-vertical, .course-wrapper .courseware-results-wrapper .xblock.xblock-public_view-vertical {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  grid-column-gap: calcRem(40);
  grid-row-gap: calcRem(30);

  @media (max-width: $screen-sm-max) {
    display: block;
  }

  .unit-title {
    margin: 0 !important;
  }

  .vert-mod {
    grid-column-start: span 2;
    padding-top: calcRem(20);
    border-top: 1px solid $light-border-color;
  }

  .bookmark-button-wrapper {
    margin-bottom: 0;
    text-align: right;

    @media (max-width: $screen-sm-max) {
      margin: calcRem(20) 0;
      text-align: left;
    }

    .bookmark-button {
      padding: calcRem(8) calcRem(15);
      background-color: $cta-button-text-color;

      .bookmark-text, &:before {
        color: $cta-button-bg;
      }

      &:hover, &:focus {
        background-color: $cta-button-bg !important;
        text-decoration: none !important;
        outline: none !important;

        .bookmark-text, &:before {
          color: $cta-button-text-color;
          text-decoration: none;
        }
      }
    }
  }
}

.xmodule_display.xmodule_ProblemBlock div.problem .action .submit-attempt-container .submit.btn-brand {
  border-radius: $buttons-border-radius;
  padding: calcRem(10) calcRem(20);
  border: $cta-button-border;
  background-color: $cta-button-bg;
  color: $cta-button-text-color;
  min-width: calcRem(180);

  &:hover, &:focus {
    background-color: $cta-button-text-color;
    color: $cta-button-bg;
    border: $cta-button-border;
  }
}

.course-wrapper .course-content div.timed-exam .exam-action-button.btn-pl-primary {
  border-radius: $buttons-border-radius;
  padding: calcRem(10) calcRem(20);
  border: $cta-button-border;
  background-color: $cta-button-bg;
  color: $cta-button-text-color;
  min-width: calcRem(180);

  &:hover, &:focus {
    background-color: $cta-button-text-color;
    color: $cta-button-bg;
    border: $cta-button-border;
  }
}

.modal.staff-modal {
  width: 980px;
  max-width: 100%;

  .inner-wrapper {
    padding: calcRem(25);
  }
}

// video xblock styling

.xmodule_display.xmodule_VideoBlock .video {
  margin-left: calcRem(-50);
  margin-right: calcRem(-50);
  padding: calcRem(20) calcRem(40);
  border-radius: $in-app-container-border-radius * 2 / 3;
}

.xmodule_display.xmodule_VideoBlock .video .video-wrapper .video-player>div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.xblock .video {
  font-size: calcRem(16);
  margin-left: clacRem(-50);
  margin-right: clacRem(-50);
  padding: calcRem(30) calcRem(32);

  .tc-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    border: calcRem(8) solid rgba($base-text-color, 0.04);
    border-radius: $in-app-container-border-radius / 3;
    box-sizing: border-box;

    .video-wrapper {
      width: 100%;
      margin: 0;

      .video-player {
        width: 100% !important;
        height: auto !important;
        overflow: hidden;
        max-width: 100% !important;
        position: relative;
        padding-bottom: 56.25%;

        iframe {
          position: absolute;
          top: 0 !important;
          bottom: 0 !important;
          left: 0 !important;
          right: 0 !important;
          width: 100% !important;
          height: 100% !important;
        }
      }
    }
  }

  &.is-captions-rendered:not(.closed) {

    .tc-wrapper {
      grid-template-columns: 2fr 1fr;
      background-color: #fff;
      border: calcRem(8) solid rgba($base-text-color, 0.04);
  
      .subtitles {
        display: block;
        width: 100%;
        padding: calcRem(20);
        background-color: #fff;
        box-sizing: border-box;
        max-height: unset !important;
        position: relative;

        .subtitles-menu {
          position: absolute;
          top: calcRem(20);
          bottom: calcRem(20);
          left: calcRem(20);
          right: calcRem(20);
        }
      }
    }
  }

  .subtitles {
   
    li {

      span, a {
        font-size: calcRem(16);
        color: $base-text-color;

        &:hover, &:focus {
          color: $brand-primary-color;
        }
      }
    }
  }

  .wrapper-downloads h4.hd.hd-5 {
    color: lighten($base-text-color, 30%);
    font-size: calcRem(20);
    margin: 0 0 calcRem(15);
  }

  .wrapper-downloads {
    padding: calcRem(5) calcRem(8) calcRem(15);
    opacity: 0.5;
    transition: all 0.3s ease-in-out;

    &:hover, &:focus {
      opacity: 1;
    }

    .wrapper-download-video, .list-download-transcripts {

      .btn-link {
        font-weight: bold;
        border: none;
        outline: none;
        color: $base-text-color;
        border-radius: 0;
        padding: 0 0 4px;
        margin: 0 0 calcRem(15);

        &:hover, &:focus {
          color: $brand-primary-color;
        }
      } 
    }
  }
}

.course-wrapper .xblock .xblock-student_view-discussion {
  @include xblock-wide-frame;

  .discussion-module {
    display: grid;
    grid-template-columns: 3fr auto;
    grid-column-gap: calcRem(40);
    grid-row-gap: calcRem(10);
    align-items: center;

    .discussion-module-header {

    }

    .discussion-show {
      background: none;
      background-color: rgba($cta-button-text-color, 0);
      color: $cta-button-bg;
      border: $cta-button-border;
      outline: none;
      font-size: calcRem(14);
      border-radius: $buttons-border-radius;
      padding: calcRem(8) calcRem(16);
      height: auto;
      min-width: calcRem(120);

      &:hover, &:focus {
        outline: none;
        background-color: $cta-button-bg !important;
        color: $cta-button-text-color !important;
        border: $cta-button-border !important;
      }
    }

    .inline-discussion {
      grid-column-start: span 2;
      position: relative;
      background-color: #fff;
      margin-bottom: calcRem(30);

      .add_post_btn_container {
        height: auto;
      }

      .new-post-btn {
        position: absolute;
        bottom: calcRem(-20);
        right: calcRem(10);
        z-index: 4;
        background: none;
        background-color: $cta-button-bg;
        color: $cta-button-text-color;
        border: $cta-button-border;
        outline: none;
        font-size: calcRem(14);
        border-radius: $buttons-border-radius;
        padding: calcRem(8) calcRem(16);
        height: auto;

        &:hover, &:focus {
          outline: none;
          color: $cta-button-bg !important;
          background-color: $cta-button-text-color !important;
          border: $cta-button-border !important;
        }
      }

      .inline-threads {
        border-radius: $in-app-container-border-radius / 3;
        border: none;
      }

      .forum-nav-thread {
        padding: calcRem(10);

        .forum-nav-thread-link {

          &:hover, &:focus {
            background-color: #fff;
            text-decoration: underline;
          }
        }

        .forum-nav-thread-title {
          font-size: calcRem(18);
        }

        .thread-preview-body {
          font-size: calcRem(14);
          white-space: nowrap;
        }

        .forum-nav-thread-labels {

          li {
            font-size: calcRem(14);
          }
        }

        p {
          font-size: calcRem(14);
        }
      }

      .search-alerts {

        .search-alert {
          display: grid;
          grid-template-columns: 1fr auto;
          padding: calcRem(20);
          align-items: center;
          grid-gap: calcRem(20);

          p {
            font-size: calcRem(16);
            font-style: italic;
            color: lighten($base-text-color, 20%);
          }
        }
      }
    }
  }
}


// general problems layout

.xmodule_display.xmodule_ProblemBlock div.problem {

  .action {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: calcRem(20);
    padding: calcRem(30) 0;

    @media (max-width: $screen-sm-max) {
      grid-template-columns: 1fr;
    }

    .problem-hint {
      order: 3;
      grid-column-start: span 2;

      @media (max-width: $screen-sm-max) {
        grid-column-start: span 1;
      }

      &.notification li {
        font-size: calcRem(16);
      }
    }

    .problem-action-buttons-wrapper {
      order: 2;
      padding: 0;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: flex-end;

      .problem-action-button-wrapper {
        
      }
    }

    .submit-attempt-container {
      order: 1;
      padding: 0 !important;
      margin: 0;
    }
  }
}

.xmodule_display.xmodule_ProblemBlock div.problem .choicegroup label {
  padding-left: calcRem(45);
}

.course-bookmarks .bookmarks-results-list {
  margin-top: calcRem(20);

  .bookmarks-results-list-item {
    padding: 0 calcRem(20) calcRem(30) calcRem(20);
  }

  .list-item-content {
    overflow: visible;
  }
}


.xmodule_display.xmodule_SequenceModule .sequence-nav-button.focused, .xmodule_display.xmodule_SequenceModule .sequence-nav-button:hover, .xmodule_display.xmodule_SequenceModule .sequence-nav-button:active, .xmodule_display.xmodule_SequenceModule .sequence-nav-button.active, .xmodule_display.xmodule_SequenceModule .sequence-nav button.focused, .xmodule_display.xmodule_SequenceModule .sequence-nav button:hover, .xmodule_display.xmodule_SequenceModule .sequence-nav button:active, .xmodule_display.xmodule_SequenceModule .sequence-nav button.active {
  background-color: $brand-primary-color;
  color: pick-visible-color($brand-primary-color, $base-text-color, #fff);
}

.xmodule_display.xmodule_SequenceModule .sequence-nav-button.focused .icon, .xmodule_display.xmodule_SequenceModule .sequence-nav-button:hover .icon, .xmodule_display.xmodule_SequenceModule .sequence-nav-button:active .icon, .xmodule_display.xmodule_SequenceModule .sequence-nav-button.active .icon, .xmodule_display.xmodule_SequenceModule .sequence-nav button.focused .icon, .xmodule_display.xmodule_SequenceModule .sequence-nav button:hover .icon, .xmodule_display.xmodule_SequenceModule .sequence-nav button:active .icon, .xmodule_display.xmodule_SequenceModule .sequence-nav button.active .icon {
  color: pick-visible-color($brand-primary-color, $base-text-color, #fff);
}