.a--courseware-banner {

  &__wrapper {
    padding: calcRem(20);
    background-color: #dedede;
  }

  &__container {

    h2 {
      font-size: calcRem(20);
      @include primary-font-bold;
      margin: calcRem(5) 0 calcRem(10);
    }

    p {
      margin: calcRem(5) 0;

      a {
        @include primary-font-bold;
        color: $brand-primary-color;
      }
    }
  }
}
