.a--courseware-wrapper {
  padding-bottom: 6rem;

  &__content {
    @include display(flex);
    border: 0.1rem solid #ddd;
    background-color: #fff;
    padding: 4rem 3rem;

    @media(max-width: $screen-sm-max) {
      @include flex-wrap(wrap);
    }

    &__main-content {
      width: 100%;
    }

    &__sidebar {
      min-width: 28rem;
      max-width: 36rem;
      width: 100%;
      @include flex-shrink(0);
      border-left: 0.1rem solid #ddd;
      padding-left: 3rem;
      margin-left: 3rem;

      &>ol {
        padding: 0 0 0 1.5rem;
      }

      .treeview-handoutsnav a {
        @include primary-font-bold;
        color: $brand-primary-color;
      }

      @media(max-width: $screen-sm-max) {
        width: 100%;
        margin-left: 0;
        padding-left: 0;
        border-left: none;
        border-top: 0.1rem solid #ddd;
        margin-top: 3rem;
        padding-top: 3rem;
      }

      &__main-title {
        @include primary-font;
        font-size: 2.4rem;
        color: rgba($base-text-color, 0.75);
        margin: 0 0 2.5rem;
      }
    }

    .wrap-instructor-info, .wrap-instructor-info.studio-view {
      margin: 3rem 0 -5rem;
      display: block;
      top: 0;
      @include primary-font;
    }

    h1 {
      @include fontVariantInclude($global-font-h1);
      font-size: $font-size-h1;
      line-height: $line-height-h1;
    }

    h2 {
      @include fontVariantInclude($global-font-h2);
      font-size: $font-size-h2;
      line-height: $line-height-h2;
    }

    h3 {
      @include fontVariantInclude($global-font-h3);
      font-size: $font-size-h3;
      line-height: $line-height-h3;
    }

    h4 {
      @include fontVariantInclude($global-font-h4);
      font-size: $font-size-h4;
      line-height: $line-height-h4;
    }

    p {
      @include fontVariantInclude($global-font-base-body);
      font-size: $font-size-base-body;
      line-height: $line-height-base-body;
    }
  }

  &__admin-notifications {
    padding-bottom: 2rem;

    a.a--courseware-wrapper__admin-notifications__cta {
      display: inline-block;
      padding: 1rem 1.5rem;
      font-size: 1.6rem;
      @include primary-font;
      background-color: $brand-primary-color;
      border-radius: 1rem;
      color: #fff;

      &:hover, &:focus {
        color: #fff;
        background-color: darken($brand-primary-color, 10%);
      }
    }
  }

  &__footer {
    margin-top: 3rem;

    .courseware-license {
      text-align: right;
      @include primary-font-italic;
      color: rgba($base-text-color, 0.7);
      font-size: 1.2rem;
    }
  }

  &__non-authenticated {
    margin: 5rem auto;
    display: block;
    text-align: center;

    h1 {
      @include fontVariantInclude($global-font-h1);
      font-size: $font-size-h1;
      line-height: $line-height-h1;
      color: $brand-primary-color;
      margin: 0 0 $font-size-h1;
    }

    &__message-wrapper {
      max-width: 72rem;
      margin: 2rem auto 0;
      font-size: $font-size-base-body;
      text-align: center;

      p {
        margin-bottom: 1.5rem;
      }

      .a--cta {
        background-color: $cta-button-bg;
        border: $cta-button-border;
        display: inline-block;
        padding: 1.5rem 2rem;
        margin: 1rem;
        font-size: $font-size-base-body;
        @include fontVariantInclude($global-font-cta-buttons);
        color: $cta-button-text-color;
        @include button_radius;
        @include button_splash($buttons-border-radius);

        &:hover, &:focus {
          color: rgba(#fff, 0.8);
        }
      }
    }
  }
}

.xblock .xblock h2.unit-title {
  @include primary-font-bold;
  font-size: 2.2rem;
  margin: 2.4rem 0 1rem;
}
