div.book-wrapper {
  @extend .bs-container;
  @extend .a--container;
  @extend .a--courseware-wrapper;
  @extend .a--courseware-wrapper__content;
  max-width: none;
  display: block;

  section.book-sidebar {
    border: none;
    background: none;
    display: inline-block;
    width: 20%;
    padding-right: 2.5%;
    margin-right: 2.5%;
    border-right: 1px solid #ddd;

    @media(max-width: $screen-sm-max) {
      display: block;
      width: 100%;
      max-width: 100%;
      padding-right: 0;
      margin-right: 0;
      border-right: none;
      padding-bottom: calcRem(30);
      margin-bottom: calcRem(30);
      border-bottom: 1px solid #ddd;
      max-height: calcRem(150);
      overflow-x: auto;
    }
  }

  .book {
    width: 74%;
    display: inline-block;

    iframe {
      width: 100%;
    }

    @media(max-width: $screen-sm-max) {
      display: block;
      width: 100%;
    }
  }
}
