.a--course-info {

  h3.big-section-title {
    @include primary-font;
    font-size: 2.4rem;
    color: rgba($base-text-color, 0.75);
    margin: 0 0 2.5rem;
  }

  &__main-title {
    @include fontVariantInclude($global-font-h1);
    font-size: 3.2rem;
    color: $brand-primary-color;
    margin: 0 0 2.5rem;
  }

  &>ol {
    padding: 0;

    li {
      list-style-type: none;
    }
  }

  li h2 {
    margin: 2rem 0;
  }

  a {
    text-decoration: underline;

    &:hover, &:focus {
      text-decoration: underline !important;
      color: lighten($brand-primary-color, 15%);
    }
  }
}

.a--page-header-main {
  padding: 0;

  .page-title {
    font-size: $font-size-base-body*1.6;
    @include primary-font;
    margin: 0 0 1rem;
  }

  .page-subtitle {
    font-size: $font-size-base-body;
    @include primary-font-bold;
    margin: 0;
    color: darken($brand-primary-color, 20%);
  }
}

.a--last-accessed-wrapper {
  @include display(flex);
  @include align-items(center);
  margin-left: auto;

  .last-accessed-link {
    background-color: $cta-button-bg;
    color: pick-visible-color($cta-button-bg, $base-text-color, #fff);
    border: $cta-button-border;
    display: inline-block;
    padding: 1.5rem 2rem;
    font-size: 1.4rem;
    margin: 0 0 0 2rem;
    @include fontVariantInclude($global-font-cta-buttons);
    @include button_radius;
    @include button_splash($buttons-border-radius);
  }
}
