.a--courseware--enroll-staff {
  display: block;

  h3 {
    margin: 0 0 3rem;
  }

  &__course-name {
    width: 100%;
    margin: 3rem 0;
    padding: 3rem 0;
    border-top: 0.1rem solid lighten($base-text-color, 50%);
    border-bottom: 0.1rem solid lighten($base-text-color, 50%);

    p {
      margin: 0;
      font-size: $font-size-base-body;
      line-height: $line-height-base-body;
    }
  }

  &__cta-area {

    button {
      background: none;
      box-shadow: none;
      text-shadow: none;
      border-radius: $buttons-border-radius;
      margin: 0.5rem 1rem 0.5rem 0;
      color: #fff;
      letter-spacing: normal;
      border: none;
      padding: 1rem 3rem;

      &:hover, &:focus {
        background: none;
        box-shadow: none;
        text-shadow: none;
      }

      &.primary-button {
        background-color: $brand-primary-color;

        &:hover, &:focus {
          background-image: none;
          background-color: darken($brand-primary-color, 15%);
        }
      }

      &.secondary-button {
        background-color: lighten($base-text-color, 30%);

        &:hover, &:focus {
          background-image: none;
          background-color: lighten($base-text-color, 15%);
        }
      }
    }
  }
}
