.content-wrapper {

  .profile-wrapper {
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: none;
    display: block;
    background: none;

    .course-info {
      width: $base-container-width;
      max-width: 100%;
      padding: calcRem(30) calcRem(70);
      border: none;
      display: block;
      background-color: #fff;
      border-radius: $in-app-container-border-radius;
      margin: 0 auto calcRem(50);

      .progress-certificates-title {
        color: $base-text-color;
        margin: 0 0 calcRem(20);
      }

      .auto-cert-message {
        border-color: $brand-primary-color;
      }

      .chapters {
        margin-top: calcRem(50);
      }
    }

    .auto-cert-message {

      .msg-content {
        width: 100%;

        h4.title, p.copy {
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}

// fix centering of cert message and actions
.profile-wrapper .course-info {

  .wrapper-msg.wrapper-auto-cert .auto-cert-message .has-actions .msg-content {
    width: 100%;
  }

  .wrapper-msg.wrapper-auto-cert .auto-cert-message .has-actions .msg-actions {
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
}