@media (min-width: $screen-md-min) {
  .a--small-screen-optimized-courseware {

    &.a--courseware-top-nav {

      &__container {
        border: none;
        padding-top: 0;
        padding-bottom: 0;
        margin: 0 auto;
        position: relative;
      }
    }

    &.a--courseware-wrapper {

      .a--courseware-wrapper {

        &__content {
          position: relative;
          padding: 1.5rem 3rem 4rem 7rem;
        }
      }

      .a--course-content__main-content {

        .course-content {

          .path {
            margin-bottom: 2.2rem;
          }

          .sequence-nav {
            padding-bottom: 0;

            ol li {

              button {

                &.active {

                  &:after {
                    bottom: -0.3rem;
                    height: 0.3rem;
                  }
                }
              }
            }
          }
        }
      }

      .a--course-info__welcome-header {
        display: none;
      }
    }
  }
}

@media (max-width: $screen-sm-max) {
  .a--course-content__nav__small-screen-toggle {
    display: none;
  }
}
