.a--courseware-wrapper {

  .a--course-content {

    &__nav__small-screen-toggle {
      display: none;
    }
  }
}

@media (min-width: $screen-md-min) and (max-width: 1400px) {
  .a--small-screen-optimized-courseware {

    &.a--courseware-top-nav {

      &__container {
        border: none;
        padding-top: 0;
        padding-bottom: 0;
        margin: 0 auto;
        position: relative;
      }
    }

    &.a--courseware-wrapper {

      .a--courseware-wrapper {

        &__content {
          position: relative;
          overflow: hidden;
          padding: calcRem(15) calcRem(30) calcRem(40) calcRem(70);

          &__side-navigation {
            position: absolute;
            left: calcRem(-500);
            top: 0;
            bottom: 0;
            padding-top: calcRem(25);
            width: calcRem(320);
            max-width: 100%;
            @include transition(all 0.3s ease-in-out);
            z-index: 10;
            background-color: #fff;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;

            &.in-view {
              left: 0;
              padding-left: calcRem(30);
              -webkit-box-shadow: 12px 0px 20px -10px rgba(0,0,0,0.5);
              -moz-box-shadow: 12px 0px 20px -10px rgba(0,0,0,0.5);
              box-shadow: 12px 0px 20px -10px rgba(0,0,0,0.5);
            }
          }
        }
      }

      .a--course-content {

        &__nav__small-screen-toggle {
          display: block;
          width: calcRem(320);
          text-align: center;
          @include transition(all 0.3s ease-in-out);
          @include transform(rotate(270deg));
          @include transform-origin(top left);
          position: absolute;
          top: calcRem(450);
          left: 0;
          background: none;
          background-color: $cta-button-bg;
          color: $cta-button-text-color;
          text-shadow: none;
          border-bottom-left-radius: $buttons-border-radius;
          border-bottom-right-radius: $buttons-border-radius;
          outline: none;
          border: none;

          &:hover, &:focus {
            outline: none;
            border: none;
            background-color: lighten($cta-button-bg, 10%);
          }

          span {

            i {
              margin-right: calcRem(10);
            }
          }

          .hide {
            display: none;
          }

          &.toggled {
            left: calcRem(320);
            z-index: 11;

            .show {
              display: none;
            }

            .hide {
              display: block;
            }
          }
        }
      }

      .a--course-content__main-content {

        .course-content {

          .path {
            margin-bottom: calcRem(22);
          }

          .sequence-nav {
            padding-bottom: 0;

            ol li {

              button {

                &.active {

                  &:after {
                    bottom: calcRem(-3);
                    height: calcRem(3);
                  }
                }
              }
            }
          }
        }
      }

      .a--course-info__welcome-header {
        display: none;
      }
    }
  }
}
