@mixin underline($weight) {
  position: relative;
  display: inline-block;

  &:after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1rem;
    @include transition(all 0.3s ease-in-out);
    height: $weight;
    content: "";
    @include linear-gradient(to right, $brand-blue-light, $brand-blue-dark, $fallback: $brand-blue-dark);
  }
}

@mixin underline_hover($offset){

  &:hover {
    &:after {
      bottom: -$offset;
    }
  }
}


@mixin button_splash($button-radius) {
  position: relative;

  &:before {
    position: absolute;
    border-radius: $button-radius;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0%;
    background-color: rgba(#fff, 0.35);
    content: "";
    @include transition(all 0.15s ease-in-out);
  }

  &:hover, &:focus {

    &:before {
      width: 100%;
      background-color: rgba(#fff, 0.1);
    }
  }
}

@mixin button_radius {
  border-radius: $buttons-border-radius;
}

@mixin underline_expanding_hover($line_color, $distance) {
  position: relative;

  &:after {
    position: absolute;
    bottom: -$distance;
    left: 0;
    width: 0;
    height: 0.2rem;
    border-radius: 0.05rem;
    background-color: $line_color;
    content: "";
    @include transition(0.2s all ease-in-out);
  }

  &:hover, &:focus {

    &:after {
      width: 100%;
    }
  }
}

@mixin hover_pop($pop_top, $pop_left) {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  @include transition(all 0.3s ease-in-out);

  &:hover, &:focus {
    top: $pop_top;
    left: $pop_left;
  }
}

@mixin hover_pop_horizontal($parameter) {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  @include transition(all 0.3s ease-in-out);

  &:hover, &:focus {
    left: $parameter;
  }
}

@mixin hover_pop_vertical($parameter) {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  @include transition(all 0.3s ease-in-out);

  &:hover, &:focus {
    top: $parameter;
  }
}

@mixin hover_style_macro($chosen_style, $parameter) {
  @if $chosen_style == "expanding-underline" {
      @include underline_expanding_hover($brand-primary-color, $parameter);
  } @else if $chosen_style == "hover_pop_vertical" {
      @include hover_pop_vertical($parameter)
  } @else if $chosen_style == "hover_pop_horizontal" {
      @include hover_pop_horizontal($parameter)
  } @else if $chosen_style == "hover-custom-color" {
      &:hover, &:focus {
        color: $brand-primary-color;
      }
  } @else if $chosen_style == "opacity" {
      opacity: 1;
      &:hover, &:focus {
        opacity: $parameter;
      }

  } @else {

  }
}

@mixin edx_style_killer {
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  height: auto;
  padding: 0;
  vertical-align: inherit;
  text-shadow: none;
  letter-spacing: 0;

  &:hover, &:focus, &:hover:not(:disabled), &:focus:not(:disabled) {
    border: none;
    box-shadow: none;
    text-shadow: none;
  }
}

@mixin no_damn_focus_glow {

  &:hover, &:focus {
    outline: none !important;
  }
}

@mixin responsive_square_div {

  &:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}

@mixin material-card($depth) {
  @if $depth < 1 {
    box-shadow: none;
  } @else if $depth > 5 {
    @warn "Invalid $depth `#{$depth}` for mixin `card`.";
  } @else {
    box-shadow: bottom-shadow($depth), top-shadow($depth);
  }
}

@mixin body-base-font {
	@include primary-font;
}

@mixin large-cta-font {
	@include primary-font;
}

@mixin big-headings-font {
	@include primary-font-light;
}

@mixin small-headings-font {
	@include primary-font-bold;
}
