@mixin fontFamilyAdapter() {
	@if $selected_font_family != null {
		font-family: $selected_font_family;
	} @else {
		font-family: $primary-font-name, sans-serif;
	}
}

@mixin primary-font-light {
	@include fontFamilyAdapter();
	font-style: normal;
	font-weight: $primary-font-weight-light;
}

@mixin primary-font {
	@include fontFamilyAdapter();
	font-style: normal;
	font-weight: $primary-font-weight-regular;
}

@mixin primary-font-bold {
	@include fontFamilyAdapter();
	font-style: normal;
	font-weight: $primary-font-weight-bold;
}

@mixin primary-font-black {
	@include fontFamilyAdapter();
	font-style: normal;
	font-weight: $primary-font-weight-black;
}

@mixin primary-font-light-italic {
	@include fontFamilyAdapter();
	font-style: italic;
	font-weight: $primary-font-weight-light;
}

@mixin primary-font-italic {
	@include fontFamilyAdapter();
	font-style: italic;
	font-weight: $primary-font-weight-regular;
}

@mixin primary-font-bold-italic {
	@include fontFamilyAdapter();
	font-style: italic;
	font-weight: $primary-font-weight-bold;
}

@mixin accent-font {
	font-family: $accent-font-name, cursive;
	font-weight: normal;
}


@mixin fontVariantInclude ($font-variant) {
	@if $font-variant == "primary-font-light" {
		@include primary-font-light;
	} @else if $font-variant == "primary-font-light-italic" {
		@include primary-font-light-italic;
	} @else if $font-variant == "primary-font-regular" {
		@include primary-font;
	} @else if $font-variant == "primary-font-regular-italic" {
		@include primary-font-italic;
	} @else if $font-variant == "primary-font-bold" {
		@include primary-font-bold;
	} @else if $font-variant == "primary-font-bold-italic" {
		@include primary-font-bold-italic;
	} @else if $font-variant == "primary-font-black" {
		@include primary-font-black;
	} @else if $font-variant == "accent-font" {
		@include accent-font;
	}
}
