.a--course-listing-01 {

  &__container {
    padding-top: calcRem(50);
    padding-bottom: calcRem(50);

    &.centered {
      text-align: center;

      .a--course-listing-01 {

        &__header {
          max-width: 100%;
        }
      }

      .a--course-tile-03 {
        margin: calcRem(10) auto;
      }
    }
  }

  &__header {
    margin-bottom: calcRem(50);
    max-width: calcRem(780);
  }

  &__section-heading {
    @include fontVariantInclude($global-font-h1);
    font-size: calcRem(42);
    margin: 0 0 calcRem(20);
    color: $brand-primary-color;
    text-transform: none;
    text-align: inherit;
  }

  &__section-text {

  }

  &__courses {
    @include display(flex);
    @include flex-wrap(wrap);
  }
}
