.amc--layout--two-col-66-33 {

  &__column {
    width: 100%;

    @media (min-width: $screen-sm-min) {
      &.amc--column-one {
        width: 66.6%;
      }

      &.amc--column-two {
        width: 33.3%;
      }
    }
  }
}
