## mako
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse
from six import text_type
%>
<%namespace name='static' file='/static_content.html'/>
<%page args="course" />

## define logo files

<%def name="get_course_info(course_in)">
  <%
  course = course_in
  course_start_string = course.advertised_start
  return {
    'course_id' : course.id,
    'course_url' : reverse('about_course', args=[text_type(course.id)]),
    'course_image' : course.course_image_url,
    'course_organization' : course.display_org_with_default,
    'course_code' : course.display_number_with_default,
    'course_title' : course.display_name_with_default,
    'course_start_date' : course.start,
    'course_start_date_display' : course_start_string,
    'course_end_date' : course.end,
    'course_short_description' : course.short_description,
    'course_number' : course.display_number_with_default
  }
  %>
</%def>
