## mako

<%page expression_filter="h"/>

<%!
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import HTML
from django.conf import settings
from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
%>

<%inherit file="/main.html" />
<%block name="bodyclass">view-in-course view-statictab ${course.css_class or ''}</%block>
<%namespace name='static' file='/static_content.html'/>

<%block name="head_extra">
<%static:css group='style-course-vendor'/>
${HTML(fragment.head_html())}
</%block>

<%block name="footer_extra">
<%include file="/mathjax_include.html" args="disable_fast_preview=True"/>
${HTML(fragment.foot_html())}
</%block>

<%block name="pagetitle">${tab['name']} | ${course.display_number_with_default | h}</%block>

<%include file="/courseware/course_navigation.html" args="active_page='static_tab_{0}'.format(tab['url_slug'])" />


% if user.is_authenticated:
  <section class="a--courseware-wrapper">
    <div class="a--courseware-wrapper__content bs-container a--container a--course-static-page">
      ${HTML(fragment.body_html())}
    </div>
  </section>

% else:
      <%
        if settings.APPSEMBLER_FEATURES.get('ENABLE_EXCLUSIVE_SSO_LOGISTRATION'):
          urls_dict = configuration_helpers.get_value(
            'EXCLUSIVE_SSO_LOGISTRATION_URL_MAP',
            settings.EXCLUSIVE_SSO_LOGISTRATION_URL_MAP)
          login_url = urls_dict['login']
        else:
          login_url = settings.LOGIN_URL
      %>
      <main id="main" aria-label="Content" tabindex="-1">
         <div class="a--courseware-wrapper">
           <div class="a--courseware-wrapper__content a--courseware-wrapper__non-authenticated bs-container a--container">
             <h1>Please sign in</h1>
             <div class="a--courseware-wrapper__non-authenticated__message-wrapper">
               <p>Please sign into your ${platform_name} account by clicking the button below to access this course.</p>
               <a class="a--cta" href="${login_url}"> Sign into your ${platform_name} account</a>
             </div>
           </div>
         </div>
    </main>

% endif
