.a--expanding-sections-list-01 {
  padding: calcRem(30) 0;
  line-height: 150%;

  &__container {
    padding: 0 calcRem(15);
    margin: 0 auto;
  }

  &__item {
    list-style-type: none;
    padding: calcRem(25) 0;
    border-bottom: 1px solid rgba($base-text-color, 0.2);

    &:last-child {
      border-bottom: none;
    }

    &__title {
      @include edx_style_killer;
      @include fontVariantInclude($global-font-h3);
      color: $brand-primary-color;
      margin: 0;
      font-size: calcRem(18);
      cursor: pointer;
      text-align: left;
      line-height: 150%;
    }

    &__content {
    }

    &.a--expanded {

      .a--expanding-sections-list-01__item__title {
        margin: 0 0 calcRem(15);
      }
    }
  }
}
