.a--line-separator {

    &__container {
      background-color: rgba($base-text-color, 0.2);
      height: 0.1rem;

      &.two-px {
        height: 0.2rem;
      }

      &.five-px {
        height: 0.5rem;
      }

      &.eight-px {
        height: 0.8rem;
      }
    }
}
