.a--line-separator {

    &__container {
      background-color: rgba($base-text-color, 0.2);
      height: 1px;

      &.two-px {
        height: 2px;
      }

      &.five-px {
        height: 5px;
      }

      &.eight-px {
        height: 8px;
      }
    }
}
