.a--plain-content {
  padding: calcRem(50) 0;
  background-color: transparent;
  line-height: 150%;
  font-size: calcRem(16);

  h1 {
    @include fontVariantInclude($global-font-h1);
    font-size: calcRem(42);
    margin: 0 0 calcRem(30);
    color: $brand-primary-color;
    text-transform: none;
  }

  h2 {
    @include fontVariantInclude($global-font-h2);
    font-size: calcRem(32);
    margin: calcRem(40) 0 calcRem(30);
    color: $brand-primary-color;
    text-transform: none;
  }

  h3 {
    @include fontVariantInclude($global-font-h3);
    font-size: calcRem(18);
    margin: calcRem(30) 0 calcRem(20);
    color: rgba($base-text-color, 0.8);
    text-transform: none;
  }

  h4 {
    @include fontVariantInclude($global-font-h4);
  }

  a:not(.btn):hover, a:not(.btn):focus, a:visited:not(.btn):hover, a:visited:not(.btn):focus {
    text-decoration: underline !important;
    text-decoration-style: dotted;
  }
}
