.a--plain-content {
  padding: 5rem 0;
  background-color: transparent;
  line-height: 150%;
  font-size: 1.6rem;

  h1 {
    @include big-headings-font;
    font-size: 4.2rem;
    margin: 0 0 3rem;
    color: $brand-primary-color;
    text-transform: none;
  }

  h2 {
    @include big-headings-font;
    font-size: 3.2rem;
    margin: 4rem 0 3rem;
    color: $brand-primary-color;
    text-transform: none;
  }

  h3 {
    @include small-headings-font;
    font-size: 1.8rem;
    margin: 3rem 0 2rem;
    color: rgba($base-text-color, 0.8);
    text-transform: none;
  }
}
