.a--discovery-facets {
  padding-top: calcRem(15);
  padding-bottom: calcRem(15);
  position: initial;

  &__heading {
    @include primary-font-bold;
    color: rgba($base-text-color, 0.7);
    font-size: calcRem(20);
    margin: 0 0 calcRem(20);
    border-bottom: 1px solid rgba($base-text-color, 0.2);
    padding: 0 0 calcRem(20);
  }

  &__group-title {
    @include primary-font;
    color: $brand-primary-color;
    font-size: calcRem(16);
    margin: calcRem(15) 0 calcRem(15);
  }

  &__list {
    margin: 0;
    padding: 0 0 calcRem(15);
    border-bottom: 1px solid rgba($base-text-color, 0.2);

    li {
      list-style-type: none;
    }
  }

  &__toggle {

    button {
      @include edx_style_killer;
      @include no_damn_focus_glow;
      padding: calcRem(10) 0 calcRem(20);
      font-size: calcRem(12);
    }
  }

  &__facet-container {
    @include display(flex);
    @include align-items(center);
    @include justify-content(space-between);
    width: 100%;
  }

  &__facet-option {
    @include edx_style_killer;
    @include no_damn_focus_glow;
    list-style-type: none;
    padding: calcRem(8) 0;
    width: 100%;
    @include transition(all 0.3s ease-in-out);

    span.name {
      @include display(flex);
      @include flex-shrink(1);
      @include primary-font;
      width: 100%;
      font-size: calcRem(16);
    }

    span.disable-label {
      font-size: calcRem(12);
      @include primary-font-bold;
      display: inline-block;
      margin-left: calcRem(10);
    }

    span.count {
      @include display(flex);
      @include flex-shrink(0);
      @include primary-font-bold;
      background-color: $brand-primary-color;
      padding: calcRem(3) calcRem(8);
      border-radius: calcRem(30);
      font-size: calcRem(12);
      color: $facet-results-count-text-color;
      width: calcRem(32);
      height: calcRem(32);
      @include align-items(center);
      @include justify-content(center);
      border-radius: 100%;

      span.count-number {
        font-size: calcRem(12);
        line-height: calcRem(12);
      }
    }

    &.selected {

      span.name {
        @include primary-font-bold;
      }
    }

    &:hover, &:focus {
      
      span.name {
        color: $brand-primary-color;
        text-decoration: underline;
      }

      span.count {
        background: $brand-primary-color;
      }
    }
  }
}
