.a--discovery-search-01 {
  width: 100%;
  margin-top: calcRem(30);
  margin-bottom: calcRem(30);
  padding: 0 calcRem(20);
  border-bottom: 1px solid rgba($base-text-color, 0.25);

  &__main {
    @include display(flex);
    @include align-items(center);
    padding: calcRem(30) 0;

    h2 {
      margin: 0 calcRem(30) 0 0;
      font-size: calcRem(24);
      @include primary-font-bold;
      color: rgba($base-text-color, 0.7);
    }

    &__content {
      width: 100%;
      @include flex-shrink(1);
    }
  }

  &__expand-area-wrapper {
    display: none;
  }

  &__expand-button {
    @include edx_style_killer;
    @include no_damn_focus_glow;
    @include flex-shrink(0);
    font-size: calcRem(20);
    color: rgba($base-text-color, 0.7);
    transition: all 0.3s ease-in-out;
    width: calcRem(48);
    height: calcRem(48);
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    border: 2px solid rgba($brand-primary-color, 0);
    border-radius: calcRem(40);

    .inactive {
      @include display(flex);
    }

    .active {
      display: none;
    }


    &:hover, &:focus, &:hover:not(:disabled), &:focus:not(:disabled) {
      background: none;
      color: $brand-primary-color;
      border: 2px solid rgba($brand-primary-color, 1);
    }

    &.activated {
      color: rgba($base-text-color, 0.3);

      .inactive {
        display: none;
      }

      .active {
        display: block;
      }
    }
  }

  &__expand-area {
    @include display(flex);
    @include align-items(center);
    padding: calcRem(30) 0;
    border-bottom: 1px solid rgba($base-text-color, 0.25);
  }

  &__search-button {
    @include edx_style_killer;
    @include no_damn_focus_glow;
    @include flex-shrink(0);
    font-size: calcRem(20);
    color: rgba($base-text-color, 0.7);
  }

  input[type="text"] {
    @include edx_style_killer;
    @include no_damn_focus_glow;
    width: 100%;
    @include flex-shrink(1);
    font-size: calcRem(16);
    @include primary-font;
    color: $base-text-color;

    &:hover, &:focus {

    }
  }

  &__filters {
    padding: calcRem(30) 0;

    button.clear-filters, button.facet-option {
      @include edx_style_killer;
      @include no_damn_focus_glow;
      background-color: rgba($base-text-color, 0.4);
      color: $search-filter-text-color;
      @include transition(all 0.3s ease-in-out);
      padding: calcRem(10) calcRem(15);
      margin: calcRem(8);

      &:hover, &:focus {
        background-color: $brand-primary-color;
        color: #fff;
        padding: calcRem(10) calcRem(15);
      }
    }

    ul.active-filters {
      padding: 0;
      margin: 0;
      display: inline-block;

      li {
        list-style-type: none;
        display: inline-block;
        margin: calcRem(8);
      }
    }
  }
}
