.window-wrap .global-header {
  background-color: $header-bg-color;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: calcRem(30);
  padding-right: calcRem(30);
  box-shadow: none;
  border-bottom: 2px solid $brand-primary-color;
  overflow: visible;

  @media (max-width: $screen-sm-max) {
    padding: calcRem(15) calcRem(20);
  }

  .main-header {
    @include display(flex);

    @media (max-width: $screen-sm-max) {
      @include align-items(center);
    }

    .header-logo-section {
      flex-grow: 0;
      flex-shrink: 1;
      margin-right: calcRem(40);
      display: flex;
      align-items: center;
      padding: calcRem(15) 0;
      padding-top: $header-padding-top + calcRem(15);
      padding-bottom: $header-padding-bottom + calcRem(15);

      a {
        filter: grayscale(0);
        flex-shrink: 0;
        flex-grow: 0;

        .logo {
          height: $header-logo-height;
          width: auto;

          &.logo-positive {
            display: $display-navbar-logo-positive;
          }
  
          &.logo-negative {
            display: $display-navbar-logo-negative;
          }
        }

        &:hover, &:focus {
          filter: grayscale(1);
          cursor: pointer;
          text-decoration: none;
          opacity: 0.65;

          &:after {
            display: none;
          }
        }
      }

      .course-header {
        font-size: calcRem(13);
        margin-left: calcRem(20);
        padding-right: calcRem(20);
        color: $header-text-color;

        .provider {
          display: none;
        }

        .course-number {
          display: inline-block;
          font-weight: bold;
          margin: 0 calcRem(5) 0 0;
        }

        .course-name {
          display: inline-block;
        }
      }
    }

    .hamburger-menu {

      @media (max-width: $screen-sm-max) {
        @include flex-shrink(0);
        @include flex-grow(0);
        position: relative;
        left: 0;
        margin-left: auto;
        width: calcRem(32);
        height: calcRem(32);
        box-sizing: border-box;
        top: 2px;
      }
    }

    .nav-links {
      display: flex;
      flex-grow: 1;
      flex-shrink: 1;

      @media (max-width: $screen-sm-max) {
        display: none;
      }

      .main, .secondary {
        float: unset;
        display: flex;
      }

      .main {
        flex-grow: 1;
        flex-shrink: 1;
        margin: 0;
        display: flex;
        padding: 0;
      }

      .secondary {
        flex-grow: 0;
        flex-shrink: 0;
        margin: 0 0 0 calcRem(40);
        display: flex;
        padding: 0;

        .nav-item {
          padding: 0;

          @media (min-width: 992px) {
            padding: 0;
          }
        }
      }

      .nav-item {
        margin: 0 calcRem(20);
        display: flex;
        align-items: center;

        &.button-item {
          align-items: center;
        }

        a {
          padding: calcRem(20) 0 calcRem(16);
          border-bottom: 4px solid rgba($brand-primary-color, 0);
          color: $header-text-color;
          font-size: $header-font-size;
          display: flex;
          align-items: center;
          margin: 0;

          &:hover, &:focus {
            border-bottom: 2px solid $brand-primary-color;
          }

          &.menu-title {
            display: flex;
            align-items: center;
            padding: calcRem(8) 0;
            margin: 0;
            border: none;

            .user-image-frame {
              margin: 0 calcRem(10) 0 0;
            }

            &:hover, &:focus {
              border: none;
              color: $brand-primary-color;
            }
          }
        }

        &.nav-item-dropdown {
          display: flex;
          align-items: center;
          position: relative;

          a {
            
            &:hover, &:focus {
              text-decoration: none;
            }
          }

          .dropdown-user-menu {
            position: absolute;
            top: 100%;
            right: 0;
            width: auto;
            min-width: calcRem(180);
            max-width: 80%;

            .dropdown-nav-item {
              
              a {
                padding: calcRem(20);
              }
            }
          }
        }

        @if $navbar-style == "white" {
        
          .a--cta-button {
            border-radius: $buttons-border-radius;
            padding: calcRem(10) calcRem(20);
            background-color: $header-bg-color;
            color: $navbar-button-bg;
            border: $cta-button-border;
            border-color: $navbar-button-bg;
    
            &:hover, &:focus {
              background-color: $navbar-button-bg;
              color: pick-visible-color($navbar-button-bg, $base-text-color, #fff);
              border: $cta-button-border;
              text-decoration: none;
            }
          }
  
        } @else {
          
          .a--cta-button {
            border-radius: $buttons-border-radius;
            padding: calcRem(10) calcRem(20);
            background-color: $header-bg-color;
            color: pick-visible-color($header-bg-color, $base-text-color, #fff);
            border: 2px solid pick-visible-color($header-bg-color, $base-text-color, #fff);
    
            &:hover, &:focus {
              background-color: pick-visible-color($header-bg-color, $base-text-color, #fff);
              color: $header-bg-color;
              border: 2px solid pick-visible-color($header-bg-color, $base-text-color, #fff);
              text-decoration: none;
            }
          }
  
        }
      }

      @if $navbar-style == "white" {
        
        a.register-btn {
          border-radius: $buttons-border-radius;
          padding: calcRem(10) calcRem(20);
          background-color: $header-bg-color;
          color: $navbar-button-bg;
          border: $cta-button-border;
          border-color: $navbar-button-bg;
  
          &:hover, &:focus {
            background-color: $navbar-button-bg;
            color: pick-visible-color($navbar-button-bg, $base-text-color, #fff);
            border: $cta-button-border;
            text-decoration: none;
          }
        }
  
        a.sign-in-btn {
          border-radius: $buttons-border-radius;
          padding: calcRem(10) calcRem(20);
          border: $cta-button-border;
          border-color: $navbar-button-bg;
          background-color: $navbar-button-bg;
          color: pick-visible-color($navbar-button-bg, $base-text-color, #fff);
  
          &:hover, &:focus {
            background-color: $header-bg-color;
            color: $cta-button-bg;
            border: $cta-button-border;
            text-decoration: none;
          }
        }

      } @else {
        
        a.register-btn {
          border-radius: $buttons-border-radius;
          padding: calcRem(10) calcRem(20);
          background-color: $header-bg-color;
          color: pick-visible-color($header-bg-color, $base-text-color, #fff);
          border: 2px solid pick-visible-color($header-bg-color, $base-text-color, #fff);
  
          &:hover, &:focus {
            background-color: pick-visible-color($header-bg-color, $base-text-color, #fff);
            color: $header-bg-color;
            border: 2px solid pick-visible-color($header-bg-color, $base-text-color, #fff);
            text-decoration: none;
          }
        }
  
        a.sign-in-btn {
          border-radius: $buttons-border-radius;
          padding: calcRem(10) calcRem(20);
          border: 2px solid pick-visible-color($header-bg-color, $base-text-color, #fff);
          background-color: pick-visible-color($header-bg-color, $base-text-color, #fff);
          color: $header-bg-color;
  
          &:hover, &:focus {
            background-color: $header-bg-color;
            color: pick-visible-color($header-bg-color, $base-text-color, #fff);
            border: 2px solid pick-visible-color($header-bg-color, $base-text-color, #fff);
            text-decoration: none;
          }
        }

      }
    }
  }

  &.slim {

    .main-header {

      .header-logo-section {
        padding-top: calcRem(10);
        padding-bottom: calcRem(10);
      }
    }
  }

  .mobile-menu {

    .mobile-nav-link {

      a {
        padding: calcRem(20);
        font-weight: normal;
        color: $brand-primary-color;
      }

      .btn {
        border: none;
      }
    }
  }
}