.cc-grower {
  position: fixed;
  bottom: calcRem(30);
  left: 0;
  right: 0;
  padding: 0 calcRem(30);
  overflow: visible !important;

  .cc-banner.cc-bottom {
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    color: $base-text-color;
    max-width: calcRem(900);
    width: 100%;
    margin: 0 auto;
    padding: calcRem(30);
    transition: all 0.3s ease-in-out;

    &:hover {
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }

    .cc-btn {
      border-radius: $buttons-border-radius;
      padding: calcRem(10) calcRem(20);
      background-color: $cta-button-bg;
      color: $cta-button-text-color;
      border: $cta-button-border;

      &:hover, &:focus {
        background-color: $cta-button-text-color;
        color: $cta-button-bg;
        border: $cta-button-border;
        text-decoration: none;
      }
    }
  }
}