.a--courseware-top-nav__list {

  li.right {
    margin-left: auto;
  }
}

a.new-post-btn {
  border-radius: $buttons-border-radius;
  border: 1px solid $brand-primary-color;
  padding: calcRem(10) calcRem(15);
  @include transition(all 0.3s ease-in-out);
  opacity: 1;

  span {
    margin-right: calcRem(5);
  }

  &:hover, &:focus {
    opacity: 0.6;
  }
}
