#sga-content {

  .upload {

    button {
      padding: calcRem(10) calcRem(20);
      margin: calcRem(20) 0;
      background: none;
      outline: none;
      box-shadow: none;
      text-shadow: none;
      background-color: #ddd;
      border: 1px solid #ccc;
      border-radius: $buttons-border-radius;

      &:hover, &:focus {
        background-color: #ccc;
      }
    }
  }
}
