.a--404-content {

  &__container {
    max-width: calcRem(980);
    margin: calcRem(80) auto calcRem(120);
    text-align: center;

    h1 {
      font-size: calcRem(42);
      @include fontVariantInclude($global-font-h1);
      color: $base-text-color;
      margin: calcRem(40) 0 calcRem(15);
    }

    h3 {
      font-size: calcRem(18);
      @include fontVariantInclude($global-font-base-body);
      color: lighten($base-text-color, 15%);
      margin: calcRem(5) 0;
    }

    p {
      font-size: calcRem(14);
      @include fontVariantInclude($global-font-base-body);
      color: lighten($base-text-color, 15%);
      margin: calcRem(5) 0;

      a {
        @include primary-font-bold;
        color: $brand-primary-color;

        &:hover, &:focus {
          color: lighten($brand-primary-color, 15%);
        }
      }
    }

    svg {
      fill: $brand-primary-color;
      max-width: calcRem(480);
      width: 80%;
    }
  }
}
