.wrapper-account-settings {

	.account-settings-container {

		.wrapper-header {
			height: auto;
			width: 100%;

			.header-title {
				@include fontVariantInclude($global-font-h1);
				font-size: $font-size-h1;
				line-height: $line-height-h1;
				margin: $font-size-h1 0;
				color: $brand-primary-color;
			}

			.account-nav {
				width: 100%;
				float: none;

				button.account-nav-link {
					font-size: 1.6rem;
					display: inline-block;
					float: none;
				}
			}
		}

		.account-settings-section-body {

			.u-field {

				.field {

					.field-label {
						font-size: 1.4rem;
						margin: 0 0 1rem 0;
					}

					.field-input {
						font-size: 1.6rem;
					}
				}
			}
		}
	}
}
