.wrapper-account-settings {

	a:not(.btn):hover, a:not(.btn):focus, a:visited:not(.btn):hover, a:visited:not(.btn):focus {
		text-decoration: underline !important;
		text-decoration-style: dotted;
	}

	.account-settings-container {

		.wrapper-header {
			height: auto;
			width: 100%;

			.header-title {
				@include fontVariantInclude($global-font-h1);
				font-size: $font-size-h1;
				line-height: $line-height-h1;
				margin: $font-size-h1 0;
				color: $brand-primary-color;
			}

			.account-nav {
				width: 100%;
				float: none;

				button.account-nav-link {
					font-size: calcRem(16);
					display: inline-block;
					float: none;
				}

				#orders-tab {
					display: none;
				}
			}
		}

		.account-settings-section-body {

			.u-field {

				.field {

					.field-label {
						font-size: calcRem(14);
						margin: 0 0 calcRem(10) 0;
					}

					.field-input {
						font-size: calcRem(16);
					}

					.u-field-link {
						font-size: calcRem(16);
						padding: calcRem(12) calcRem(16);
						border: 1px solid $brand-primary-color;
						background: transparent;
						color: $brand-primary-color;
						width: 100%;

						&:hover, &:focus {
							background: $brand-primary-color;
							color: pick-visible-color($brand-primary-color, #000, #fff);
							cursor: pointer;
						}
					}
				}

				.u-field-message {

					.u-field-message-notification {
						position: relative;
						left: 0;
						top: 0;
						width: 100%;
						display: block;
						padding: 0;
						margin-bottom: calcRem(10);

						.fa {
							margin-right: calcRem(10);
						}

						a {
							@include primary-font-bold;
						}
					}
				}
			}

			.u-field-language_proficiencies {
				// Hide it so student can chose the correct "Language" field.
				// Because this "Preferred Language" aka "Language Proficiencies" is a
				// very confusing field that we don't use. Mainly edX have it for data-collection purposes.
				display: none;
			}
		}

		.account-deletion-details {
			padding-bottom: calcRem(50);

			.btn-outline-primary.paragon__btn {
				font-size: calcRem(16);
				padding: calcRem(12) calcRem(16);
				min-width: 30%;
				border: 1px solid $brand-primary-color;
				background: transparent;
				color: $brand-primary-color;

				&:hover, &:focus {
					background: $brand-primary-color;
					color: pick-visible-color($brand-primary-color, #000, #fff);
					cursor: pointer;
				}
			}

			.delete-confirmation-wrapper, .delete-success-wrapper {

				.paragon__modal-header {
					padding: calcRem(10) calcRem(20) calcRem(20);
				}

				.paragon__modal-body {
					padding: calcRem(20);
				}

				.paragon__alert {
					padding: calcRem(20);
				}

				.next-steps {
					margin-top: calcRem(20);
					margin-bottom: calcRem(20);
				}

				.modal-alert .alert-content .alert-title {
					font-size: calcRem(16);
					margin-bottom: calcRem(20);
				}

				.paragon__modal-footer {
					padding: calcRem(20);

					.paragon__btn {
						font-size: calcRem(16);
						padding: calcRem(12) calcRem(16);
						line-height: 140%;
						border: 1px solid $brand-primary-color;
						color: pick-visible-color($brand-primary-color, #000, #fff);
						background: $brand-primary-color;
						margin-left: calcRem(10);
						box-shadow: none;

						&:hover, &:focus {
							background: darken($brand-primary-color, 15%);
							color: pick-visible-color(darken($brand-primary-color, 15%), #000, #fff);
							cursor: pointer;
							box-shadow: none;
						}

						&.paragon__btn-outline-primary {
							background: transparent;
							color: $brand-primary-color;

							&:hover, &:focus {
								background: $brand-primary-color;
								color: pick-visible-color($brand-primary-color, #000, #fff);
							}
						}

						&:disabled {
							border-color:rgb(164, 166, 168);
						}
					}
				}
			}
		}
	}
}
