.login-register {
  padding: calcRem(40) calcRem(70);
  max-width: $login-register-container-width + calcRem(70);
  margin: calcRem(40) auto;
  border-radius: $in-app-container-border-radius;
  overflow: hidden;
  min-height: unset;

  .form-wrapper {
    padding: 0;

    .action-label {
      font-size: calcRem(16);
      margin: 0 0 calcRem(20);
      padding: 0 0 calcRem(20);
      border-bottom: 1px solid #ccc;
    }

    .status {
      background: none !important;
      padding: calcRem(30) 0;
      border: none !important;
      box-shadow: none;

      h4.message-title {
        font-size: calcRem(24);
        font-weight: bold;
        margin: 0 0 calcRem(20);
      }

      .message-copy {

        p {
          line-height: 160%;
          font-size: calcRem(14);
          margin: 0 0 calcRem(10);
        }
      }
    }

    .paragon__alert {
      margin: calcRem(-40) calcRem(-70) calcRem(30) calcRem(-70);
      padding: calcRem(30) calcRem(70);
    }
  }

  .js-form-feedback {
    margin: calcRem(-40) calcRem(-70) calcRem(50);

    .js-form-errors {
      padding: calcRem(30) calcRem(70);

      h4 {
        margin: 0 0 calcRem(20);
      }
    }
  }

  .toggle-form {
    min-width: unset;
    max-width: unset;
    padding: 0 0 calcRem(20);
    margin: 0 0 calcRem(20);
    border-bottom: 1px dotted $brand-primary-color;
  }

  h2, .section-title {
    margin: 0 0 calcRem(30);
    font-size: calcRem(42);
    color: $brand-primary-color;
    text-align: left;
  }

  form .section-title.lines {
    margin: 0 0 calcRem(30);
    font-size: calcRem(42);
    color: $brand-primary-color;
    text-align: left;

    &:after {
      display: none;
    }

    .text {
      top: 0;
      padding: 0;
      background: none;
      font-size: calcRem(42);
      line-height: 120%;
    }
  }



  form {

    .form-field {
      margin: 0 0 calcRem(20);

      .label, .label.focus-out, label.focus-out, label.focus-in {
        font-size: calcRem(14);
        display: block;
        margin: 0 0 calcRem(10);
        color: $base-text-color;
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0;
      }

      .input-block {
        font-size: calcRem(18);
        padding: calcRem(8) calcRem(5);
        border: none;
        border-radius: 0;
        border-top: 2px solid rgba($brand-primary-color, 0);
        border-bottom: 2px solid lighten($base-text-color, 40%);
        transition: all 0.3s ease-in-out;
        height: auto;
        box-shadow: none;
        margin: calcRem(10) 0;
        background-color: #fff;
        min-height: calcRem(51);

        &:hover, &:focus {
          outline: none;
          padding: calcRem(12) calcRem(4);
          border-bottom: 2px solid $brand-primary-color;
        }

        &:focus {
          outline: none;
          padding: calcRem(12) calcRem(4);
          border-top: 2px solid $brand-primary-color;
          border-bottom: 2px solid $brand-primary-color;
          box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2);
        }
      }

      select.input-inline, select.input-block {
        -webkit-appearance: auto;
      }

      textarea.input-block {
        border: 2px solid lighten($base-text-color, 40%);
        padding: calcRem(10);
        font-size: calcRem(16);
  
        &:hover, &:focus {
          border-color: $brand-primary-color;
          padding: calcRem(10);
          box-shadow: none;
        }
      }

      .tip {
        font-size: calcRem(13);
        font-style: italic;
        color: lighten($base-text-color, 30%);
      }

      .field-link {
        font-size: calcRem(16);
        display: block;
        margin: calcRem(20) 0 0;
        color: $brand-primary-color;

        &:hover, &:focus {
          color: $brand-primary-color;
          text-decoration: underline;
        }
      }

      &.checkbox-terms_of_service {
        @include display(flex);
        @include align-items(center);

        .checkbox {
          margin-right: calcRem(20);
        }
      }

      .paragon__form-group {

        label {
          font-size: calcRem(14);
          display: block;
          margin: 0 0 calcRem(10);
          color: $base-text-color;
          position: relative;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          padding: 0;
        }
  
        .paragon__form-control {
          font-size: calcRem(18);
          padding: calcRem(8) calcRem(5);
          border: none;
          border-radius: 0;
          border-top: 2px solid rgba($brand-primary-color, 0);
          border-bottom: 2px solid lighten($base-text-color, 40%);
          transition: all 0.3s ease-in-out;
          height: auto;
          box-shadow: none;
          margin: calcRem(10) 0;
          background-color: #fff;
          min-height: calcRem(51);
  
          &:hover, &:focus {
            outline: none;
            padding: calcRem(12) calcRem(4);
            border-bottom: 2px solid $brand-primary-color;
          }
  
          &:focus {
            outline: none;
            padding: calcRem(12) calcRem(4);
            border-top: 2px solid $brand-primary-color;
            border-bottom: 2px solid $brand-primary-color;
            box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2);
          }
        }

        .paragon__invalid-feedback {
          font-size: calcRem(14);
          margin: calcRem(10) 0 0;
        }
      }
    }

    .action {
      border-radius: $buttons-border-radius;
      padding: calcRem(10) calcRem(30);
      border: $cta-button-border;
      min-width: 40%;
      margin: calcRem(30) calcRem(30) 0 0;
      outline: none;
      box-shadow: none !important;
      font-size: calcRem(18);
    
      &.action-primary {
        background-color: $cta-button-bg;
        color: $cta-button-text-color;
    
        &:hover, &:focus {
          background-color: $cta-button-text-color;
          color: $cta-button-bg;
          border: $cta-button-border;
        }
      }
    
      &.action-secondary {
        background-color: $cta-button-text-color;
        color: $cta-button-bg;
        border: $cta-button-border;
    
        &:hover, &:focus {
          background-color: $cta-button-bg;
          color: $cta-button-text-color;
          border: $cta-button-border;
        }
      }
    }

    .plaintext-field {
      font-size: calcRem(14);
      line-height: 180%;
    }

    .checkbox-optional_fields_toggle {
      display: flex;
      align-items: center;
  
      .input-block {
        margin-right: calcRem(15);
        width: calcRem(20);
        height: calcRem(20);
  
        &:hover, &:focus {
          border: 1px solid $brand-primary-color;
          box-shadow: none !important;
        }
      }
  
      label {
        font-size: calcRem(14);
      }
    }
  }
}

.user-account-logout-container {
  padding: calcRem(60) calcRem(70);
  max-width: $login-register-container-width + calcRem(100);
  margin: calcRem(90) auto;
  border-radius: $in-app-container-border-radius;
  overflow: hidden;

  h1 {
    margin: 0 0 calcRem(30);
    font-size: calcRem(42);
    color: $brand-primary-color;
  }

  p {
    font-size: calcRem(18);
    line-height: 180%;
    margin: calcRem(10) 0;
  }

  #iframeContainer {
    display: none;
  }

  .login-providers {
    margin: calcRem(40) 0 0;

    .section-title.lines {
      margin: 0 0 calcRem(20);
      padding: 0 0 calcRem(20);

      h2 {
        font-size: calcRem(24);
        font-weight: normal;
        margin: 0 auto;
      }
    }

    .button.login-provider {
      padding: 0;
      border-radius: $buttons-border-radius;
      overflow: hidden;
      border: 1px solid #eee;
      background-color: #fff;
      margin: calcRem(20) auto;
      @include display(flex);
      @include align-items(center);
      width: calcRem(240);
      height: auto;
      -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.10), 0 6px 6px rgba(0,0,0,0.15);
      -moz-box-shadow: 0 10px 20px rgba(0,0,0,0.10), 0 6px 6px rgba(0,0,0,0.15);
      box-shadow: 0 10px 20px rgba(0,0,0,0.10), 0 6px 6px rgba(0,0,0,0.15);

      .icon {
        position: relative;
        left: 0;
        top: 0;
        width: calcRem(44);
        height: calcRem(44);
        @include display(flex);
        @include align-items(center);
        @include justify-content(center);
        text-align: center;
        background-color: $brand-primary-color;
        color: pick-visible-color($brand-primary-color, $base-text-color, #fff);
        line-height: 100%;
        font-size: calcRem(14);
      }

      span {
        color: $base-text-color;
        font-size: calcRem(16);
        letter-spacing: 0;
        @include fontVariantInclude($global-font-cta-buttons);
        padding: calcRem(12) calcRem(15);
      }

      &:hover, &:focus, &:hover:not(:disabled) {
        background-color: $brand-primary-color;

        .icon {
          background-color: darken($brand-primary-color, 10%);
          color: pick-visible-color(darken($brand-primary-color, 10%), $base-text-color, #fff);
        }

        span {
          color: pick-visible-color($brand-primary-color, $base-text-color, #fff);
        }
      }
    }
  }

  .register-form.register-fields-disabled {

    .required-fields, .checkbox-optional_fields_toggle, .optional-fields, .register-button, .view-disabled, .checkbox-terms_of_service {
      display: none;
    }
  }
}