.a--course-about-01 {

  &__header {
    padding: calcRem(90) 0;
    position: relative;
    overflow: hidden;

    &__background {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-size: cover;
      @include filter(blur(50px));
      z-index: 1;
    }

    &__overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 2;
      background-color: rgba(#000, 0.5);
    }

    &__content {
      position: relative;
      z-index: 3;

      @media(min-width: $screen-sm-max) {
        @include display(flex);
        @include align-items(center);
      }
    }

    &__image {
      width: 30%;
      @include flex-grow(0);
      @include flex-shrink(0);
      max-width: calcRem(320);
      margin-right: calcRem(50);
      position: relative;
      -webkit-box-shadow: 0 0 calcRem(20) 0 rgba(0,0,0,0.75);
      -moz-box-shadow: 0 0 calcRem(20) 0 rgba(0,0,0,0.75);
      box-shadow: 0 0 calcRem(20) 0 rgba(0,0,0,0.75);

      img {
        width: 100%;
        height: auto;
      }

      @media (max-width: $screen-sm-max) {
        width: 100%;
        max-width: 100%;
        margin-bottom: calcRem(30);
      }
    }

    &__video-trigger {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 2;
      @include display(flex);
      @include align-items(center);
      text-align: center;

      i {
        margin: 0 auto;
        color: #fff;
        font-size: calcRem(64);
        text-shadow: 0 0 calcRem(20) rgba(0, 0, 0, 0.5);
        @include transition(all 0.2s ease-in-out);
      }

      &:hover, &:focus {
        i {
          @include transform(scale(1.2));
        }
      }
    }

    &__info {
      width: 100%;
      @include flex-shrink(1);
      @include flex-grow(1);
    }

    &__title {
      @include fontVariantInclude($global-font-h1);
      font-size: calcRem(52);
      color: #fff;
      margin: 0 0 calcRem(30);

      @media (max-width:$screen-sm-max) {
        font-size: calcRem(32);
      }
    }

    &__description {
      @include fontVariantInclude($global-font-base-body);
      font-size: calcRem(18);
      color: #fff;
      margin: calcRem(-10) 0 calcRem(30);
    }
  }

  &__courseware-button-wrapper {

    #register_error {
      display: inline-block;
    }
  }

  &__social-share {
    @include transition(all 0.3s ease-in-out);
    @include display(flex);
    @include align-items(center);
    padding: calcRem(20) 0;
    border-top: 1px solid rgba(#fff, 0.15);
    border-bottom: 1px solid rgba(#fff, 0.15);
    margin: 0 0 calcRem(30);

    & .expand-on-parent-hover {
      @include flex-shrink(0);
      white-space: nowrap;
      max-width: 0;
      @include transition(all 0.2s ease-in-out);
      overflow: hidden;
      margin-right: 0;
    }

    &:hover, &:focus {
      opacity: 1;

      & .expand-on-parent-hover {
        max-width: calcRem(300);
        margin-right: calcRem(15);
      }
    }

    &__helper {
      display: block;
      color: #fff;
      @include fontVariantInclude($global-font-base-body);
    }

    a {
      font-size: calcRem(20);
      margin: 0 calcRem(10);
      color: #fff;
      opacity: 0.7;

      &:hover, &:focus {
        opacity: 1;
      }
    }
  }

  &__courseware-btn, &__courseware-btn:not(.btn) {
    background-color: $cta-button-bg;
    border: $navbar-button-border;
    display: inline-block;
    padding: calcRem(15) calcRem(20);
    font-size: calcRem(16);
    margin: calcRem(10) calcRem(20) calcRem(10) 0;
    @include fontVariantInclude($global-font-cta-buttons);
    color: pick-visible-color($cta-button-bg, $base-text-color, #fff);
    @include button_radius;
    @include button_splash($buttons-border-radius);

    &:visited, &:visited:not(.btn) {
      color: pick-visible-color($cta-button-bg, $base-text-color, #fff);
    }

    &:hover, &:focus {
      color: rgba(pick-visible-color($cta-button-bg, $base-text-color, #fff), 0.8);
    }
  }

  &__overview {
    padding: calcRem(30) 0 calcRem(50);
    background-color: transparent;
    line-height: 150%;
    display: block;
    width: 100%;
    @include flex-grow(1);
    @include flex-shrink(1);

    @media(max-width: $screen-md-min) {
      width: 100%;
    }

    h1 {
      @include fontVariantInclude($global-font-h1);
      font-size: calcRem(42);
      margin: 0 0 calcRem(30);
      color: $brand-primary-color;
      text-transform: none;
    }

    h2 {
      @include fontVariantInclude($global-font-h2);
      font-size: calcRem(32);
      margin: calcRem(40) 0 calcRem(30);
      color: $brand-primary-color;
      text-transform: none;
    }

    h3 {
      @include fontVariantInclude($global-font-h3);
      font-size: calcRem(18);
      margin: calcRem(30) 0 calcRem(20);
      color: rgba($base-text-color, 0.8);
      text-transform: none;
    }

    h4 {
      @include fontVariantInclude($global-font-h4);
    }

    p {
      @include fontVariantInclude($global-font-base-body);
    }

    .teacher {

      .teacher-image {
        margin-top: calcRem(30);

        img {
          float: none;
        }
      }

      h3, p {
      }
    }
  }

  &__info {
    display: block;
    width: 30%;
    max-width: calcRem(320);
    margin-right: calcRem(50);
    padding: calcRem(50) 0;
    @include flex-grow(0);
    @include flex-shrink(0);

    @media (max-width: $screen-sm-max) {
      width: 100%;
      max-width: 100%;
    }

    li {
      list-style-type: none;
      border-bottom: 1px solid rgba($base-text-color, 0.2);
      padding: calcRem(20) 0;
      @include display(flex);
      @include align-items(center);
      font-size: calcRem(16);

      &:last-child {
        border-bottom: none;
      }

      i {
        margin-right: calcRem(15);
        color: rgba($base-text-color, 0.75);
      }

      p {
        color: rgba($base-text-color, 0.75);
        @include primary-font-light;
        margin-right: calcRem(15);
        display: inline-block;
        width: calcRem(130);
      }

      span {
        color: $brand-primary-color;
        @include primary-font;
        display: inline-block;
      }
    }
  }

  &__content {
    padding-bottom: calcRem(40);

    &__container {
      @media (min-width: $screen-md-min) {
        @include display(flex);
      }
    }
  }
}
