.a--course-about-01 {

  &__header {
    padding: 9rem 0;
    position: relative;
    overflow: hidden;

    &__background {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-size: cover;
      @include filter(blur(50px));
      z-index: 1;
    }

    &__overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 2;
      background-color: rgba(#000, 0.5);
    }

    &__content {
      position: relative;
      z-index: 3;

      @media(min-width: $screen-sm-min) {
        @include display(flex);
        @include align-items(center);
      }
    }

    &__image {
      width: 30%;
      @include flex-grow(0);
      @include flex-shrink(0);
      max-width: 32rem;
      margin-right: 5rem;
      position: relative;
      -webkit-box-shadow: 0 0 2rem 0 rgba(0,0,0,0.75);
      -moz-box-shadow: 0 0 2rem 0 rgba(0,0,0,0.75);
      box-shadow: 0 0 2rem 0 rgba(0,0,0,0.75);

      img {
        width: 100%;
        height: auto;
      }

      @media (max-width: $screen-sm-max) {
        width: 100%;
        max-width: 100%;
      }
    }

    &__video-trigger {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 2;
      @include display(flex);
      @include align-items(center);
      text-align: center;

      i {
        margin: 0 auto;
        color: #fff;
        font-size: 6.4rem;
        text-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
        @include transition(all 0.2s ease-in-out);
      }

      &:hover, &:focus {
        i {
          @include transform(scale(1.2));
        }
      }
    }

    &__info {
      width: 100%;
      @include flex-shrink(1);
      @include flex-grow(1);
    }

    &__title {
      @include big-headings-font;
      font-size: 5.2rem;
      color: #fff;
      margin: 0 0 3rem;

      @media (max-width:$screen-sm-max) {
        font-size: 3.2rem;
      }
    }

    &__description {
      @include primary-font;
      font-size: 1.8rem;
      color: #fff;
      margin: -1rem 0 3rem;
    }
  }

  &__courseware-button-wrapper {

    #register_error {
      display: inline-block;
    }
  }

  &__social-share {
    @include transition(all 0.3s ease-in-out);
    @include display(flex);
    @include align-items(center);
    padding: 2rem 0;
    border-top: 0.1rem solid rgba(#fff, 0.15);
    border-bottom: 0.1rem solid rgba(#fff, 0.15);
    margin: 0 0 3rem;

    & .expand-on-parent-hover {
      @include flex-shrink(0);
      white-space: nowrap;
      max-width: 0;
      @include transition(all 0.2s ease-in-out);
      overflow: hidden;
      margin-right: 0;
    }

    &:hover, &:focus {
      opacity: 1;

      & .expand-on-parent-hover {
        max-width: 30rem;
        margin-right: 1.5rem;
      }
    }

    &__helper {
      display: block;
      color: #fff;
      @include primary-font;
    }

    a {
      font-size: 2rem;
      margin: 0 1rem;
      color: #fff;
      opacity: 0.7;

      &:hover, &:focus {
        opacity: 1;
      }
    }
  }

  &__courseware-btn {
    background-color: $navbar-button-bg;
    border: $navbar-button-border;
    display: inline-block;
    padding: 1.5rem 2rem;
    font-size: 1.6rem;
    margin: 1rem 2rem 1rem 0;
    @include large-cta-font;
    color: #fff;
    @include button_radius;
    @include button_splash($buttons-border-radius);

    &:visited {
      color: #fff;
    }

    &:hover, &:focus {
      color: rgba(#fff, 0.8);
    }
  }

  &__overview {
    padding: 3rem 0 5rem;
    background-color: transparent;
    line-height: 150%;
    display: block;

    @media(max-width: $screen-md-min) {
      width: 100%;
    }

    h1 {
      @include big-headings-font;
      font-size: 4.2rem;
      margin: 0 0 3rem;
      color: $brand-primary-color;
      text-transform: none;
    }

    h2 {
      @include big-headings-font;
      font-size: 3.2rem;
      margin: 4rem 0 3rem;
      color: $brand-primary-color;
      text-transform: none;
    }

    h3 {
      @include small-headings-font;
      font-size: 1.8rem;
      margin: 3rem 0 2rem;
      color: rgba($base-text-color, 0.8);
      text-transform: none;
    }

    .teacher {

      .teacher-image {
        margin-top: 3rem;

        img {
          float: none;
        }
      }

      h3, p {
      }
    }
  }

  &__info {
    display: block;
    width: 30%;
    max-width: 32rem;
    margin-right: 5rem;
    padding: 5rem 0;

    @media (max-width: $screen-sm-max) {
      width: 100%;
      max-width: 100%;
    }

    li {
      list-style-type: none;
      border-bottom: 0.1rem solid rgba($base-text-color, 0.2);
      padding: 2rem 0;
      @include display(flex);
      @include align-items(center);
      font-size: 1.6rem;

      &:last-child {
        border-bottom: none;
      }

      i {
        margin-right: 1.5rem;
        color: rgba($base-text-color, 0.75);
      }

      p {
        color: rgba($base-text-color, 0.75);
        @include primary-font-light;
        margin-right: 1.5rem;
        display: inline-block;
        width: 13rem;
      }

      span {
        color: $brand-primary-color;
        @include primary-font;
        display: inline-block;
      }
    }
  }

  &__content {
    padding-bottom: 4rem;

    &__container {
      @media (min-width: $screen-md-min) {
        @include display(flex);
      }
    }
  }
}
