.a--dashboard-01 {

  &__notifications {
    background-color: $brand-primary-color;
    padding: calcRem(10) 0;
    border-top: 1px solid darken($brand-primary-color, 30%);
    border-bottom: 1px solid darken($brand-primary-color, 30%);

    &__container {

    }

    &__notification {
      list-style-type: none;
      padding: calcRem(15) calcRem(10);
      border-bottom: 1px solid rgba($base-text-color, 0.2);
      color: pick-visible-color($brand-primary-color, $base-text-color, #fff);

      &:last-child {
        border-bottom: none;
      }
    }
  }

  &__main {

    &__container {
      @include display(flex);

      @media (max-width: $screen-xs-max) {
        @include flex-wrap(wrap);
      }
    }

    &__content {
      @include flex-shrink(1);
      width: 100%;
      max-width: calcRem(980);
      margin: 0 auto;
    }

    &__search-results {
      padding: 0 0 calcRem(40);
    }

    &__sidebar {
      @include flex-shrink(0);
      width: calcRem(280);
      margin-left: calcRem(50);
      padding: 0 calcRem(10) calcRem(40);

      @media (max-width: $screen-xs-max) {
        width: 100%;
        margin-left: 0;
        margin-top: calcRem(40);
        padding-top: calcRem(40);
        border-top: 1px solid rgba($base-text-color, 0.3);
      }
    }

    &__courses {
      padding: 0 0 calcRem(40);
    }
  }

  &__promote-catalog {
    padding: calcRem(30) 0;
    border-bottom: 1px solid rgba($base-text-color, 0.3);
    text-align: center;

    p {
      font-size: calcRem(16);
      @include fontVariantInclude($global-font-base-body);
      margin: 0 0 calcRem(15);
    }

    a.a--dashboard-01__promote-catalog__cta {
      background-color: $cta-button-bg;
      border: $navbar-button-border;
      display: inline-block;
      padding: calcRem(15) calcRem(20);
      margin: calcRem(5) 0 0;
      @include fontVariantInclude($global-font-cta-buttons);
      color: pick-visible-color($cta-button-bg, $base-text-color, #fff);
      @include button_radius;
      @include button_splash($buttons-border-radius);

      &:hover, &:focus {
        color: $cta-button-bg;
        background-color: pick-visible-color($cta-button-bg, $base-text-color, #fff);
        border: 2px solid $cta-button-bg;
      }
    }
  }
}
