.instructor-dashboard-wrapper-2 {

  h1.hd-1 {

  }

  h2.hd-2 {
    margin: 0.75rem 0;
  }

  h3.hd-3 {
    margin: 1rem 0;
  }

  table {
    width: 100%;
    max-width: 64rem;

    &>caption {
      margin: 1rem 0;
    }
  }

  .instructor-nav {
    margin-top: 1.5rem;

    .nav-item {
      margin-right: 1.5rem;
      display: inline-block;
      padding: 1rem 0;

      &.active-section {
        color: $base-text-color;
        border-bottom: 0.2rem solid $brand-primary-color;
      }
    }
  }

  .idash-section .message-warning .message-title {
    display: inline-block;
    padding: 15px;
    border: 2px solid #ffc01f;
    color: #222;
  }

  .idash-section .message-confirmation {
    border: 2px solid #008401;
    background-color: #fff;
  }

  section.idash-section#cohort_management .cohort-management-settings .form-cancel {
    background-color: #fff;
    border: 2px solid rgb(0,117,156);
    padding: 8px 17px;
    opacity: 1;

    &:hover, &:focus {
      opacity: 0.5;
    }
  }
}

.open-response-assessment-block {
  .backgrid {
    // Patch for the ORA2 to show hidden fields
    .parent_name {
      width: 180px;
    }

    .name {
      width: 230px;
    }
  }
}
