.instructor-dashboard-wrapper-2 {
  background: none !important;
  border: none !important;

  .instructor-dashboard-content-2 {
    width: $base-container-width;
    max-width: 100%;
    margin: 0 auto calcRem(50);
    padding: calcRem(30) calcRem(70);
    border: none;
    display: block;
    background-color: #fff;
    border-radius: $in-app-container-border-radius;
  }

  h1.hd-1 {

  }

  h2.hd-2 {
    margin: calcRem(8) 0;
  }

  h3.hd-3 {
    margin: calcRem(10) 0;
  }

  table {
    width: 100%;
    max-width: calcRem(640);

    &>caption {
      margin: calcRem(10) 0;
    }
  }

  .instructor-nav {
    margin-top: calcRem(15);

    .nav-item {
      margin-right: calcRem(15);
      display: inline-block;
      padding: calcRem(10) 0;

      &:focus {
        border-bottom: 2px solid $brand-primary-color;
        outline: none;
      }

      &.active-section {
        color: $base-text-color;
        border-bottom: 2px solid $brand-primary-color;
      }
    }
  }

  .idash-section .message-warning .message-title {
    display: inline-block;
    padding: calcRem(15);
    border: 2px solid #ffc01f;
    color: #222;
  }

  .idash-section .message-confirmation {
    border: 2px solid #008401;
    background-color: #fff;
  }

  section.idash-section#cohort_management .cohort-management-settings .form-cancel {
    background-color: #fff;
    border: 2px solid rgb(0,117,156);
    padding: calcRem(8) calcRem(17);
    opacity: 1;

    &:hover, &:focus {
      opacity: 0.5;
    }
  }

  section.idash-section#cohort_management .cohort-management-group-setup {
    color: #333;
  }
}

.open-response-assessment-block {
  .backgrid {
    // Patch for the ORA2 to show hidden fields
    .parent_name {
      width: calcRem(180);
    }

    .name {
      width: calcRem(230);
    }
  }
}

div.gradebook-wrapper .student-table tr.highlight td a {

  &:focus, &:hover {
    text-decoration: underline !important;
  }
}