.content-wrapper {

  .introduction {
    max-width: calcRem(980);
    width: 100%;

    header {
      height: auto;
      background: none;
      padding: 1.5*$login-register-section-title-spacing calcRem(20) $login-register-section-title-spacing;
      margin: 0;
      border-bottom: $login-register-section-title-border-bottom;

      h1.title {
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
        padding: 0;

        .title-super {
          font-size: $login-register-section-title-font-size;
          @include fontVariantInclude("primary-font-bold");
          color: $login-register-section-title-color;
          text-align: left;
          text-transform: none;

          @media (max-width: $screen-sm-max) {
            font-size: 0.75*$login-register-section-title-font-size;
          }

          @media (max-width: $screen-xs-max) {
            font-size: 0.6*$login-register-section-title-font-size;
          }
        }

        .title-sub {
          font-size: $font-size-base-body*1.4;
          @include fontVariantInclude("primary-font-bold");
          color: $brand-accent-color;
          text-align: left;
          text-transform: none;
          margin: calcRem(10) 0 0;
          text-transform: none;

          @media (max-width: $screen-sm-max) {
            font-size: $font-size-base-body*1.2;
          }

          @media (max-width: $screen-xs-max) {
            font-size: $font-size-base-body*1;
          }
        }
      }
    }
  }

  .register.container, .view-register.container, .login.container, .view-login.container {
    max-width: calcRem(980);
    width: 100%;

    .content {
      width: 65%;
      margin-right: 5%;

      @media (max-width: $screen-sm-max) {
        width: 100%;
        margin-bottom: calcRem(40);
        margin-right: 0;
      }

      form {

        p.instructions {
          font-size: $font-size-base-body*1.2;
          @include fontVariantInclude("primary-font-regular");
          color: $base-text-color;
          text-align: left;
          text-transform: none;
          margin: 0 0 calcRem(20);
          text-transform: none;

          @media (max-width: $screen-sm-max) {
            font-size: $font-size-base-body*1.2;
          }

          @media (max-width: $screen-xs-max) {
            font-size: $font-size-base-body*1;
          }
        }

        .group-form {

        }

        .field {
          margin: 0 0 calcRem(15);

          label {
            @include fontVariantInclude("primary-font-regular");
            font-size: $font-size-base-body;
            margin: 0 0 calcRem(5);
          }

          input {

          }

          a {
            color: darken($brand-accent-color, 20%);
          }

          &.checkbox {
            margin: calcRem(5) calcRem(30) calcRem(5) 0;

            label {

            }
          }

          .tip {
            color: lighten($base-text-color, 20%);
          }

          &.required {

            label {
              @include fontVariantInclude("primary-font-bold");
            }
          }
        }

        .form-actions {

          button[type="submit"] {
            @include edx_style_killer;
            @include no_damn_focus_glow;
            background-color: $cta-button-bg;
            border: $cta-button-border;
            display: inline-block;
            padding: calcRem(15) calcRem(20);
            margin: calcRem(10) 10%;
            width: 80%;
            font-size: $font-size-base-body*1.2;
            @include fontVariantInclude($global-font-cta-buttons);
            color: pick-visible-color($cta-button-bg, $base-text-color, #fff);
            @include button_radius;
            @include button_splash($buttons-border-radius);

            &:hover, &:focus, &:hover:not(:disabled), &:focus:not(:disabled) {
              color: rgba(pick-visible-color($cta-button-bg, $base-text-color, #fff), 0.8);
              background-color: $cta-button-bg;
            }
          }
        }
      }
    }

    aside {
      width: 30%;

      @media (max-width: $screen-sm-max) {
        width: 100%;
      }

      .btn-brand {
        display: block;
        border: none;
        background: none;
        border-bottom: $login-register-section-title-border-bottom;
        padding: 0 0 calcRem(20);
        margin: 0 0 calcRem(30);
        text-align: center;

        .title {
          display: block;
          margin: 0 0 calcRem(10);
        }

        .instructions {
          width: 100%;
        }

        .btn-login-action {
          @include edx_style_killer;
          @include no_damn_focus_glow;
          background-color: transparent;
          border: 2px solid $brand-accent-color;
          text-align: center;
          display: inline-block;
          padding: calcRem(10) calcRem(20);
          margin: calcRem(10) 10%;
          width: 70%;
          font-size: $font-size-base-body;
          @include fontVariantInclude($global-font-cta-buttons);
          color: $brand-primary-color;
          @include button_radius;
          @include button_splash($buttons-border-radius);
          @include transition(all 0.3s ease-in-out);

          &:hover, &:focus, &:hover:not(:disabled), &:focus:not(:disabled) {
            color: rgba($brand-primary-color, 0.8);
            background-color: transparent;
            border: 2px solid rgba($brand-primary-color, 0.8);
          }
        }
      }

      .cta {

        h3 {

        }

        p {

        }

        a {
          color: darken($brand-accent-color, 20%);
        }
      }
    }
  }
}
