.view-profile {

	.wrapper-profile {
		width: 100%;
	}

	.profile-header, .wrapper-profile-sections, .profile-self .wrapper-profile-field-account-privacy .u-field {
		width: 100%;
		padding-left: calcRem(30);
		padding-right: calcRem(30);
		margin-left: auto;
		margin-right: auto;

		@media(min-width: 1440px) {
			width: calcRem(1280);
		}

		@media(max-width:$screen-sm-max) {
			padding-left: calcRem(0);
			padding-right: calcRem(0);
		}
	}

	.profile-self {

		a:not(.btn):hover, a:not(.btn):focus, a:visited:not(.btn):hover, a:visited:not(.btn):focus {
			text-decoration: underline !important;
			text-decoration-style: dotted;
		}

		.wrapper-profile-field-account-privacy {
			background-color: rgba($base-text-color, 0.05);
			padding: calcRem(20) 0;
			opacity: 0.9;
			@include transition(all 0.3s ease-in-out);

			@media(max-width: $screen-sm-max) {
				opacity: 1;
			}

			&:hover, &:focus {
				opacity: 1;
			}

			.u-field {
				display: block;
				max-width: 100%;
			}

      .u-field-message-notification {
        margin: calcRem(10) 0 0;
        display: block;
      }

			.u-field-title {
				@include primary-font;
				color: rgba($base-text-color, 1);
				text-shadow: none;
				margin: calcRem(5) calcRem(15) calcRem(5) 0;
        font-size: calcRem(14);
			}

			.u-field-value {
				margin: 0 0 calcRem(5);

				select {
					@include primary-font-bold;
					padding: 5px;
					background: transparent;
					border: none;
					border-bottom: 1px solid rgba($base-text-color, 0.6);

					&:focus {
						outline: none;
					}
				}
			}
		}
	}

	.wrapper-profile-sections {
		display: grid;
		grid-template-columns: calcRem(300) 1fr;
		grid-column-gap: calcRem(40);

		.wrapper-profile-section-container-two {
			display: grid;
			grid-template-columns: 1fr;
			grid-row-gap: calcRem(40);
		}

		@media(max-width:$screen-xs-max) {
			grid-template-columns: 1fr;
			grid-row-gap: calcRem(40);
		}
	}

	.profile-image-field {
		@include flex-shrink(0);
	}

	.profile-section-one-fields {
		@include flex-grow(1);

		.u-field-title {
			display: none;
		}

		.u-field-value {
			width: auto;
		}

		.editable-toggle {
			padding: calcRem(5);
			@include transition(all 0.2s ease-in-out);

			&:hover, &:focus {
				background-color: rgba($brand-primary-color, 0.05);
			}
		}

		.message-can-edit {
			position: relative;
		    top: -3px;
		    right: 3px;
		    color: $brand-primary-color !important;
		}
	}

	.profile-section-two-fields {

		.u-field-title {
			width: 80%;
			color: $brand-primary-color;
		}

		.editable-toggle {
			padding: calcRem(5);
			@include transition(all 0.2s ease-in-out);

			&:hover, &:focus {
				background-color: rgba($brand-primary-color, 0.05);
			}
		}

		.message-can-edit {
			position: relative;
		    top: -3px;
		    right: 3px;
		    color: $brand-primary-color !important;
		}

		.u-field-message {

		}
	}

	input {
		@include primary-font;
		height: auto;
	}
}

.view-profile .profile-image-field .image-wrapper .upload-button-input {
	top: 0;
	opacity: 0;
}
