.content-wrapper {

  .wiki-wrapper {

    section.wiki {

      .breadcrumbs-header {
        height: auto;
        padding: calcRem(10) 0;
        @include display(flex);
        @include flex-wrap(wrap);
        @include align-items(center);



        .pull-right {
          margin: calcRem(15) calcRem(20) calcRem(15) auto;

          @media (max-width: $screen-xs-max) {
            margin: calcRem(15);
          }
        }

        .breadcrumb li a {

          &:hover, &:focus {
            text-decoration: underline !important;
          }
        }
      }

      #hint_id_content {
        position: relative;
        margin-bottom: calcRem(20);
      }

      .main-article {

        @media (max-width: $screen-xs-max) {
          float: none;
          width: 100%;
          padding: calcRem(30) calcRem(25);
        }
      }

      .article-functions {

        @media (max-width: $screen-xs-max) {
          float: none;
          width: 100%;
        }
      }
    }
  }
}
