## mako

<%namespace name='static' file='/static_content.html'/>
<%namespace file='theme-variables.html' import="get_global_settings" />
<%! from openedx.core.djangoapps.site_configuration.helpers import get_value %>
<link rel="stylesheet" type="text/css" href="${static.url('css/main.css')}">
<link rel="stylesheet" type="text/css" href="${static.url('css/font-awesome/css/font-awesome.min.css')}">
<link href="${get_global_settings()['google_fonts_to_import']}" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
% if apple_app_id:
  <meta name="apple-itunes-app" content="app-id=${get_global_settings()['apple_app_id']}">
% endif
