<%inherit file="main.html" />
<%namespace name='static' file='/static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse
from microsite_configuration import microsite
%>

<%namespace file='/theme-variables.html' import="get_index_content" />

<%block name="title">
  <title data-base-title="${static.get_page_title_breadcrumbs()}">
    ${static.get_page_title_breadcrumbs()}
  </title>
</%block>

% for element in get_index_content():
  ## this check is AMC-specific
  % if (element['element-type'].startswith('layout')):
    <%include file = '/${element["element-path"]}' args = "options = element['options'], children = element['children'], page_specific_args = courses" />
  ## now follow standard theming checks
  % elif (element['element-type'].startswith('static-block')):
    <%include file = '/${element["element-path"]}' args = "template_settings = element['options']" />
  % elif (element['element-type']=="courses-list"):
    <%include file = '/${element["element-path"]}' args = "template_settings = element['options'], courses = courses" />
  % endif
% endfor


<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif
