<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
from microsite_configuration import microsite
%>

<%namespace file='theme-variables.html' import="get_index_content" />

% for section in get_index_content():
  % if 'courses-list' in section[0]:
    <%include file = 'design-templates/${section[1]}' args = "template_settings = section[2], courses = courses" />
  % else:
    <%include file = 'design-templates/${section[1]}' args = 'template_settings = section[2]' />
  % endif
% endfor



<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif
