## mako

<%page expression_filter="h" args="online_help_token"/>

<%namespace name='static' file='../static_content.html'/>
<%!
from django.urls import reverse
from django.utils.translation import ugettext as _
from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
%>

<%namespace file='/theme-variables.html' import="get_global_settings, get_header_menu_logged_in_extra_items" />
<%namespace file='/theme-variables.html' import="translate" />

<div class="nav-links">
  <div class="main">

    % if get_global_settings().get('course-catalogue_enabled', True):
      <div class="mobile-nav-item hidden-mobile nav-item nav-tab">
        <a class="tab-nav-link discover-new-link" href="${marketing_link('COURSES')}"
          aria-current="${'page' if '/courses' in request.path else 'false'}">
          ${_('Discover New Courses')}
        </a>
      </div>
    % endif

    % if get_header_menu_logged_in_extra_items():
      % for item in get_header_menu_logged_in_extra_items():
        <div class="mobile-nav-item hidden-mobile nav-item nav-tab">
          <a class="tab-nav-link discover-new-link ${item.get('special_class')}"
             href="${item.get('link_URL', item.get('url'))}"
             aria-current="${'page' if '/courses' in request.path else 'false'}"
             % if item.get('open_in_new_tab'):
              target="_blank"
            % endif
          >
            ${translate(item.get('link_title', item.get('label', 'Link title')))}
          </a>
        </div>
      % endfor
    % endif

    <div class="mobile-nav-item hidden-mobile nav-item nav-tab nav-item-my-courses">
      <a class="${'active ' if reverse('dashboard') == request.path else ''}tab-nav-link" href="${reverse('dashboard')}"
           aria-current="${'page' if reverse('dashboard') == request.path else 'false'}">
           ${_("My Courses")}
      </a>
    </div>

  </div>
  <div class="secondary">
    <%include file="user_dropdown.html"/>
  </div>
</div>
