## mako

<%page expression_filter="h"/>

<%namespace name='static' file='../static_content.html'/>
<%namespace file='../main.html' import="add_login_query"/>

<%!
from django.conf import settings
from django.urls import reverse
from django.utils.translation import ugettext as _
from six import text_type
%>

<%
  mktg_site_enabled = static.get_value('ENABLE_MKTG_SITE', settings.FEATURES.get('ENABLE_MKTG_SITE', False))
  courses_are_browsable = settings.FEATURES.get('COURSES_ARE_BROWSABLE')
  allows_login = not settings.FEATURES['DISABLE_LOGIN_BUTTON'] and not combined_login_and_register
  can_discover_courses = settings.FEATURES.get('ENABLE_COURSE_DISCOVERY')
  allow_public_account_creation = static.get_value('ALLOW_PUBLIC_ACCOUNT_CREATION', settings.FEATURES.get('ALLOW_PUBLIC_ACCOUNT_CREATION'))
%>

<%namespace file='/theme-variables.html' import="get_global_settings, get_header_menu_logged_out_extra_items" />
<%namespace file='/theme-variables.html' import="translate" />

<nav class="nav-links" aria-label=${_("Supplemental Links")}>
  <div class="main">

    % if get_global_settings().get('course-catalogue_enabled', True) and get_global_settings().get('enable_course_catalogue_for_non-auth_users', True):
      <div class="mobile-nav-item hidden-mobile nav-item">
        <a href="/courses">${_('Explore courses')}</a>
      </div>
    % endif

    % if get_header_menu_logged_out_extra_items():
      % for item in get_header_menu_logged_out_extra_items():
        <div class="mobile-nav-item hidden-mobile nav-item">
          <a
            % if item.get('is_button'):
              class="btn menu-btn"
            % endif
            href="${item.get('link_URL', item.get('url'))}"
            % if item.get('open_in_new_tab', item.get('opens_new_tab')):
              target="_blank"
            % endif
          >
            ${translate(item.get('link_title', item.get('label', 'Link title')))}
          </a>
        </div>
      % endfor
    % endif

  </div>
  <div class="secondary">
    % if allows_login:
      % if allow_public_account_creation:
        % if get_global_settings().get('enable_registration_button', True):
          <div class="mobile-nav-item hidden-mobile nav-item button-item">
            <a class="register-btn btn" href="${add_login_query(get_global_settings().get('register_url', '/register'))}">${_("Register")}</a>
          </div>
        % endif
      % endif
      <div class="mobile-nav-item hidden-mobile nav-item button-item">
          <a class="sign-in-btn btn" href="${add_login_query(get_global_settings().get('login_url', '/login'))}">${_("Sign in")}</a>
      </div>
    % endif
  </div>
</nav>
