.amc--style-classes {

  &.border-width {

    &--none {
      border: none;
    }

    &--1px {
      border-width: 1px;
    }

    &--2px {
      border-width: 2px;
    }

    &--3px {
      border-width: 3px;
    }

    &--4px {
      border-width: 4px;
    }

    &--5px {
      border-width: 5px;
    }

    &--8px {
      border-width: 8px;
    }

    &--10px {
      border-width: 10px;
    }
  }
}
