.amc--style-classes {

  &.font-size {

    &--8px {
      font-size: 0.8rem;
    }

    &--9px {
      font-size: 0.9rem;
    }

    &--10px {
      font-size: 1rem;
    }

    &--12px {
      font-size: 1.2rem;
    }

    &--14px {
      font-size: 1.4rem;
    }

    &--16px {
      font-size: 1.6rem;
    }

    &--18px {
      font-size: 1.8rem;
    }

    &--20px {
      font-size: 2rem;
    }

    &--24px {
      font-size: 2.4rem;
    }

    &--28px {
      font-size: 2.8rem;
    }

    &--32px {
      font-size: 3.2rem;
    }

    &--36px {
      font-size: 3.6rem;
    }

    &--42px {
      font-size: 4.2rem;
    }

    &--48px {
      font-size: 4.8rem;
    }

    &--72px {
      font-size: 7.2rem;
    }
  }
}
