.amc--style-classes {

  &.font-size {

    &--8px {
      font-size: calcRem(8);
    }

    &--9px {
      font-size: calcRem(9);
    }

    &--10px {
      font-size: calcRem(10);
    }

    &--12px {
      font-size: calcRem(12);
    }

    &--14px {
      font-size: calcRem(14);
    }

    &--16px {
      font-size: calcRem(16);
    }

    &--18px {
      font-size: calcRem(18);
    }

    &--20px {
      font-size: calcRem(20);
    }

    &--24px {
      font-size: calcRem(24);
    }

    &--28px {
      font-size: calcRem(28);
    }

    &--32px {
      font-size: calcRem(32);
    }

    &--36px {
      font-size: calcRem(36);
    }

    &--42px {
      font-size: calcRem(42);
    }

    &--48px {
      font-size: calcRem(48);
    }

    &--72px {
      font-size: calcRem(72);
    }
  }
}
