.amc--style-classes {

  &.marg-t {

    &-0 {
      margin-top: 0;
    }

    &-5 {
      margin-top: 0.5rem;
    }

    &-10 {
      margin-top: 1rem;
    }

    &-15 {
      margin-top: 1.5rem;
    }

    &-20 {
      margin-top: 2rem;
    }

    &-30 {
      margin-top: 3rem;
    }

    &-50 {
      margin-top: 5rem;
    }

    &-75 {
      margin-top: 7.5rem;
    }

    &-100 {
      margin-top: 10rem;
    }
  }

  &.marg-r {

    &-auto {
      margin-right: auto;
    }

    &-0 {
      margin-right: 0;
    }

    &-5 {
      margin-right: 0.5rem;
    }

    &-10 {
      margin-right: 1rem;
    }

    &-15 {
      margin-right: 1.5rem;
    }

    &-20 {
      margin-right: 2rem;
    }

    &-30 {
      margin-right: 3rem;
    }

    &-50 {
      margin-right: 5rem;
    }

    &-75 {
      margin-right: 7.5rem;
    }

    &-100 {
      margin-right: 10rem;
    }
  }

  &.marg-b {

    &-0 {
      margin-bottom: 0;
    }

    &-5 {
      margin-bottom: 0.5rem;
    }

    &-10 {
      margin-bottom: 1rem;
    }

    &-15 {
      margin-bottom: 1.5rem;
    }

    &-20 {
      margin-bottom: 2rem;
    }

    &-30 {
      margin-bottom: 3rem;
    }

    &-50 {
      margin-bottom: 5rem;
    }

    &-75 {
      margin-bottom: 7.5rem;
    }

    &-100 {
      margin-bottom: 10rem;
    }
  }

  &.marg-l {

    &-auto {
      margin-left: auto;
    }

    &-0 {
      margin-left: 0;
    }

    &-5 {
      margin-left: 0.5rem;
    }

    &-10 {
      margin-left: 1rem;
    }

    &-15 {
      margin-left: 1.5rem;
    }

    &-20 {
      margin-left: 2rem;
    }

    &-30 {
      margin-left: 3rem;
    }

    &-50 {
      margin-left: 5rem;
    }

    &-75 {
      margin-left: 7.5rem;
    }

    &-100 {
      margin-left: 10rem;
    }
  }
}
