.amc--style-classes {

  &.marg-t {

    &-0 {
      margin-top: 0;
    }

    &-5 {
      margin-top: calcRem(5);
    }

    &-10 {
      margin-top: calcRem(10);
    }

    &-15 {
      margin-top: calcRem(15);
    }

    &-20 {
      margin-top: calcRem(20);
    }

    &-30 {
      margin-top: calcRem(30);
    }

    &-50 {
      margin-top: calcRem(50);
    }

    &-75 {
      margin-top: calcRem(75);
    }

    &-100 {
      margin-top: calcRem(100);
    }
  }

  &.marg-r {

    &-auto {
      margin-right: auto;
    }

    &-0 {
      margin-top: 0;
    }

    &-5 {
      margin-top: calcRem(5);
    }

    &-10 {
      margin-top: calcRem(10);
    }

    &-15 {
      margin-top: calcRem(15);
    }

    &-20 {
      margin-top: calcRem(20);
    }

    &-30 {
      margin-top: calcRem(30);
    }

    &-50 {
      margin-top: calcRem(50);
    }

    &-75 {
      margin-top: calcRem(75);
    }

    &-100 {
      margin-top: calcRem(100);
    }
  }

  &.marg-b {

    &-0 {
      margin-top: 0;
    }

    &-5 {
      margin-top: calcRem(5);
    }

    &-10 {
      margin-top: calcRem(10);
    }

    &-15 {
      margin-top: calcRem(15);
    }

    &-20 {
      margin-top: calcRem(20);
    }

    &-30 {
      margin-top: calcRem(30);
    }

    &-50 {
      margin-top: calcRem(50);
    }

    &-75 {
      margin-top: calcRem(75);
    }

    &-100 {
      margin-top: calcRem(100);
    }
  }

  &.marg-l {

    &-auto {
      margin-left: auto;
    }

    &-0 {
      margin-top: 0;
    }

    &-5 {
      margin-top: calcRem(5);
    }

    &-10 {
      margin-top: calcRem(10);
    }

    &-15 {
      margin-top: calcRem(15);
    }

    &-20 {
      margin-top: calcRem(20);
    }

    &-30 {
      margin-top: calcRem(30);
    }

    &-50 {
      margin-top: calcRem(50);
    }

    &-75 {
      margin-top: calcRem(75);
    }

    &-100 {
      margin-top: calcRem(100);
    }
  }
}
