.amc--style-classes {

  &.set-width {

    &--10percent {
      width: 10%;
    }

    &--20percent {
      width: 20%;
    }

    &--30percent {
      width: 30%;
    }

    &--40percent {
      width: 40%;
    }

    &--50percent {
      width: 50%;
    }

    &--60percent {
      width: 60%;
    }

    &--70percent {
      width: 70%;
    }

    &--80percent {
      width: 80%;
    }

    &--90percent {
      width: 90%;
    }

    &--100percent {
      width: 100%;
    }
  }
}
