.a--course-tile-01 {

  &__wrapper {
    padding: calcRem(15);
    width: 25%;
    @include display(flex);
    @include flex-wrap(wrap);
    @include fontVariantInclude($global-font-base-body);

    @media(max-width:$screen-md-max) {
      width: 33.3%;
    }

    @media(max-width:$screen-sm-max) {
      width: 50%;
    }

    @media(max-width:$screen-xs-max) {
      width: 100%;
    }
  }

  &__container {
    border: 1px solid #dedede;
    padding: 0;
    @include transition(all 0.3s ease-in-out);
    background-color: #fff;
    width: 100%;
    @include display(flex);
    @include flex-direction(column);
    cursor: pointer;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.1), 0 0.3rem 0.2rem rgba(0,0,0,0.1);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.1), 0 0.3rem 0.2rem rgba(0,0,0,0.1);
    box-shadow: 0 5px 10px rgba(0,0,0,0.1), 0 0.3rem 0.2rem rgba(0,0,0,0.1);

    &:hover, &:focus {
      cursor: pointer;
      -webkit-box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 1.5rem 1.2rem rgba(0,0,0,0.22);
      -moz-box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 1.5rem 1.2rem rgba(0,0,0,0.22);
      box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 1.5rem 1.2rem rgba(0,0,0,0.22);
    }
  }

  &__image {
    width: 100%;
    height: auto;
    padding-bottom: 66%;
    background-size: cover;
    background-position: center center;
    @include flex-grow(0);
    border-bottom: 4px solid $brand-primary-color;
  }

  &__info {
    padding: calcRem(30) calcRem(20);
    @include display(flex);
    @include flex-grow(1);
    @include flex-direction(column);
    @include justify-content(space-between);
    background-color: #fff;
  }

  &__code, &__organization {
    @include fontVariantInclude($global-font-h4);
    font-size: calcRem(14);
    color: rgba($base-text-color, 0.8);
    margin: 0 0 calcRem(5);
  }

  &__title {
    @include fontVariantInclude($global-font-h1);
    font-size: calcRem(20);
    margin: 0 0 calcRem(15);
    color: $brand-primary-color;
    display: block;
  }

  &__organization {
    border-top: 1px solid rgba($base-text-color, 0.1);
    padding-top: calcRem(15);
    display: block;
  }

  &__start-date {
    @include fontVariantInclude($global-font-h4);
    color: $brand-primary-color;
    font-size: calcRem(14);
    text-transform: uppercase;
    margin: 0;
  }
}

.a--course-tile-01-parent-element {
  @include display(flex);
  @include flex-wrap(wrap);
  position: relative;
  z-index: 2;

  &.courses-listing-narrower {

    li.courses-listing-item {
      padding: calcRem(15);
      width: 33.3%;
      @include display(flex);

      @media(max-width:$screen-md-max) {
        width: 50%;
      }

      @media(max-width:$screen-sm-max) {
        width: 50%;
      }

      @media(max-width:$screen-xs-max) {
        width: 100%;
      }
    }
  }

  li.courses-listing-item {
    padding: calcRem(15);
    width: 25%;
    @include display(flex);

    @media(max-width:$screen-md-max) {
      width: 33.3%;
    }

    @media(max-width:$screen-sm-max) {
      width: 50%;
    }

    @media(max-width:$screen-xs-max) {
      width: 100%;
    }

    .a--course-tile-01__wrapper {
      padding: 0;
      width: 100%;
    }
  }
}
